#activityPopupContainer
{
    background-color: #FFF;
    position:absolute;
    left:0;
    top:0;
    display:none;
    z-index: 20000;
}

.activityPopupPopup
{
}

#activityPopupContent
{
    background-color: #FFF;
    min-width: 175px;
    min-height: 50px;
}

.activityPopupPopup .activityPopupImage
{
    margin: 5px;
    margin-right: 15px;
}

.activityPopupPopup .corner 
{
    width: 19px;
    height: 15px;
}
    
.activityPopupPopup .topLeft 
{
    background: url(../img/activityPopup/balloon_topLeft.png) no-repeat;
}
    
.activityPopupPopup .bottomLeft 
{
    background: url(../img/activityPopup/balloon_bottomLeft.png) no-repeat;
}
    
.activityPopupPopup .left 
{
    background: url(../img/activityPopup/balloon_left.png) repeat-y;
}
    
.activityPopupPopup .right 
{
    background: url(../img/activityPopup/balloon_right.png) repeat-y;
}
    
.activityPopupPopup .topRight 
{
    background: url(../img/activityPopup/balloon_topRight.png) no-repeat;
}

.activityPopupPopup .bottomRight 
{
    background: url(../img/activityPopup/balloon_bottomRight.png) no-repeat;
}
    
.activityPopupPopup .top 
{
    background: url(../img/activityPopup/balloon_top.png) repeat-x;
}
    
.activityPopupPopup .bottom 
{
    background: url(../img/activityPopup/balloon_bottom.png) repeat-x;
    text-align: center;
}
