{% extends "base.html" %}

{% block title %}Activities list{% endblock %}
{% block head %} 

<script type="text/javascript" src="/media/js/common.js"></script>

<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/media/js/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="/media/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/media/js/jquery.mobile-1.4.0.min.js"></script>

<script type="text/javascript" src="/media/js/noty/jquery.noty.js"></script>
<script type="text/javascript" src="/media/js/noty/layouts/top.js"></script>
<script type="text/javascript" src="/media/js/noty/themes/default.js"></script>
<script type="text/javascript" src="/media/jquery-ui/js/jquery-ui-1.10.1.custom.js"></script>

<link rel='stylesheet' type='text/css' href='/media/css/jquery.dataTables_themeroller.css'/>
<link rel='stylesheet' type='text/css' href='/media/css/jquery.mobile-1.4.0.min.css' />
<link rel='stylesheet' type='text/css' href='/media/css/jquery.ui.timepicker.css'/>

	<link rel='stylesheet' type='text/css' href='/media/css/tooltip.css'/>
	<script>
	var garmincontrol;
	var sport_data = Array();
	
	$(document).ready(function() {
		$("#activity_add").click(function(){show_activity_dialog();});
		$("#newact_fileform").click(function(){$("#newact_filesubmit").removeAttr("disabled");});
		
		var act_table = $('#activities_table').dataTable({
			"aaSorting": [[ 2, "desc" ]],
			"aoColumnDefs": [
				{
					"aTargets": [2],
					"bSearchable": false,
					"mRender": function ( data, type, full ) {
						return secondsToTime(data);
					}
				},
				{ "aTargets": [1],
					"bSearchable": false,
					"sType": 'date',
					"mRender": function ( data, type, full ) {
						var javascriptDate = new Date(data);
						var dateString = pad(javascriptDate.getDate(),2) + "." + pad(javascriptDate.getMonth() + 1,2) + "." + javascriptDate.getFullYear() + " " + pad(javascriptDate.getHours(),2) + ":" + pad(javascriptDate.getMinutes(),2);
						//javascriptDate = javascriptDate.getDate()+"/"+javascriptDate.getMonth()+1+"/"+javascriptDate.getFullYear();
						return dateString;
					}
				}
			],
 			"bJQueryUI": true,
			"bServerSide": true,
			"oLanguage": {
				"sUrl":   "/media/lang/dataTables.de_DE.txt"
			},
			"sAjaxSource": "/activities/get"
		});
	});
	
	// Initialize sport_data array with speed / pace unit information
	{% for sport in sports %}
		{% if sport.speed_as_pace %}
			sport_data[{{sport.id}}] = {'pace': true, 'label': "min/km" };
		{% else %}
			sport_data[{{sport.id}}] = {'pace': false, 'label': "km/h" };
		{% endif %}
	{% endfor %}
</script>
{% endblock %}
{% block content %}

MOBILE
	<a href="http://localhost:8000/activities/914/">914</a>
	<table id="activities_table" class="activities_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Datum</th>
				<th>Dauer</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<br/>
	<hr/>

		<input type="submit" id="activity_add" value="Neue Aktivit&auml;t...">
		<br/><br/>
		<!-- Upload form. Note enctype attribute! -->
		<form method="post" enctype="multipart/form-data">
		    <input id = "newact_fileform" type="file" name="trackfile" />
			<input id = "newact_filesubmit" type="submit" value="Upload" disabled="disabled"/>
		</form>

<div style="clear:both"></div>

{% comment %}
{% include "activities/includes/activity_dialog.html" %}
{% endcomment %}
<div id="alert_dialog" title="Fehler">
	<div id="alert_dialog_content"></div>
</div>

{% endblock %} 
