{% extends "base_m.html" %}

{% block head %}
<script type="text/javascript" src="/media/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/media/js/flot/jquery.flot.min.js"></script>
	<style>
		label.error {
				color: red;
				font-size: 16px;
				font-weight: normal;
				line-height: 1.4;
				margin-top: 0.5em;
				width: 100%;
				float: none;
		}
	</style>
{% endblock %}
{% block content %}

<div data-role="page" id="act_list_page">

	<script>
	$("#act_list_page").on('pageinit', function() {
		var act_table = $('#activities_table').dataTable({
			"aaSorting": [[ 2, "desc" ]],
			"aoColumnDefs": [
				{
					"aTargets": [2],
					"bSearchable": false,
					"mRender": function ( data, type, full ) {
						return secondsToTime(data);
					}
				},
				{ "aTargets": [1],
					"bSearchable": false,
					"sType": 'date',
					"mRender": function ( data, type, full ) {
						var javascriptDate = new Date(data);
						var dateString = pad(javascriptDate.getDate(),2) + "." + pad(javascriptDate.getMonth() + 1,2) + "." + javascriptDate.getFullYear() + " " + pad(javascriptDate.getHours(),2) + ":" + pad(javascriptDate.getMinutes(),2);
						//javascriptDate = javascriptDate.getDate()+"/"+javascriptDate.getMonth()+1+"/"+javascriptDate.getFullYear();
						return dateString;
					}
				}
			],
 			"bJQueryUI": true,
			"bPaginate": true,
			"bServerSide": true,
			"sPaginationType": "two_button",
			"oLanguage": {
			"sUrl":   "/media/lang/dataTables.de_DE.txt"
			},
			"sAjaxSource": "/activities/get"
		});
	});

	</script>
	<div data-role="header">
		<h1 id="act_list_header">Aktivit&auml;ten</h1>
		<a href="#navpanel" data-role="button" data-inline="true" data-mini="true">Men&uuml;</a>
		<a href="#act_form_page1" data-icon="plus" data-rel="dialog" data-theme="c">Neu...</a>
	</div>

	<div data-role="content">
		<table cellspacing="0" class="ui-responsive table-stroke" data-role="table" id="activities_table" >
			<thead>
				<tr>
					<th data-priority="1">Name</th>
					<th data-priority="2">Datum</th>
					<th data-priority="3">Dauer</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	{% include "activities/includes/navpanel.html" %}
</div>

<div data-role="page" id="act_form_page1">
	<script>
		$("#act_form_page1").on('pageinit', function() {
			$('#new_act_form1').validate({
					rules: {
						new_act_name: {required: true},
						new_act_date: {required: true, date: true},
						new_act_datetime: {required: true},
						new_act_time: {required: true},
						new_act_sport: {required: true},
						new_act_calformula: {required: true},
						new_act_event: {required: true},
						new_act_distance: {number: true}
					}
			});

		});
		function submit_form1() {
			if( $("#new_act_form1").valid() ){
				$.mobile.changePage("#act_form_page2", {role: 'dialog', transition: 'slide'});
			}
		}
	</script>
	{%  include "activities/includes/activity_list_js.html" %}
	<div data-role="header"  data-theme="b">
		<a href="#act_list_page" data-icon="delete">Abbr.</a>
		<h1>Neue Aktivit&auml;t 1/3</h1>
<!--		<a href="#act_form_page2" data-icon="arrow-r" data-iconpos="right" data-rel="dialog" data-transition="slide">Weiter</a>-->
		<a href="#act_form_page2" data-icon="arrow-r" data-iconpos="right" data-rel="dialog" onclick="submit_form1(); return false">Weiter</a>

	</div>

	<div data-role="content">
	<form id="new_act_form1">

	<div data-role="fieldcontain">
	<label for="new_act_template">Vorlage</label>
	<select id="new_act_template" data-mini="true">
		<option value = -1 data-placeholder="true"> Vorlage... </option>
		{% for template in activitytemplates %}
			<option value={{template.id}}>{{template.name}}</option>
		{% endfor %}
	</select>
		<label for="new_act_name">Name</label>
		<input name="new_act_name" type="text" id="new_act_name" value="" data-mini="true" />
		<label for="new_act_comment">Kommentar</label>
		<textarea rows=3 cols=30 id="new_act_comment"></textarea>
		<label for="new_act_date">Datum</label>
		<input name="new_act_date" type="date" id="new_act_date" value="{% now "Y-m-d" %}" data-mini="true" />
		<label for="new_act_datetime">Uhrzeit</label>
		<input name="new_act_datetime" type="time" id="new_act_datetime" value="{% now "H:i"%}" data-mini="true" />

		<label for="new_act_time">Dauer</label>
		<input name="new_act_time" type="time" id="new_act_time" value="00:00" data-mini="true" />
		<label for="new_act_distance">Distanz</label>
		<input name="new_act_distance" type="text" id="new_act_distance" data-mini="true" />

		<label for="new_act_sport">Sportart</label>
		<select name="new_act_sport" id="new_act_sport" data-mini="true">
			<option value = "" data-placeholder="true"> Sportart... </option>
			{% for sport in sports %}
				<option value={{sport.id}}>{{sport.name}}</option>
			{% endfor %}
		</select>
		<label for="new_act_calformula">Kalorienformel</label>
		<select name="new_act_calformula" id="new_act_calformula" data-mini="true">
			<option value = "" data-placeholder="true"> Kalorienformel... </option>
			{% for calformula in calformulas %}
				<option value={{calformula.id}}>{{calformula.name}}</option>
			{% endfor %}
		</select>
		<label for="new_act_event">Ereignis:</label>
		<select name="new_act_event" id="new_act_event" data-mini="true">
			{% for event in events %}
				<option value={{event.id}}>{{event.name}}</option>
			{% endfor %}
		</select>

	</div>
	<fieldset>
	  <div data-role="fieldcontain">
		<label for="new_act_public">&Ouml;ffentlich:</label>
		<input type="checkbox" id="new_act_public" data-role="flipswitch">
	  </div>
	</fieldset>
	</form>

		<!--	<a href="#act_list_page" data-role="button" data-inline="true">Abbrechen</a><a href="#act_form_page2" data-role="button" data-rel="dialog" data-transition="slide" data-inline="true">Weiter</a></p>-->
	</div>
</div>

<div data-role="page" id="act_form_page2">
	<script>
		$("#act_form_page2").on('pageinit', function() {
			console.debug("Add validation");
			$('#new_act_form2').validate({
					rules: {
						new_act_calories: {number: true},
						new_act_hr_max: {number: true},
						new_act_hr_avg: {number: true},
						new_act_cadence_max: {number: true},
						new_act_cadence_avg: {number: true},
						new_act_elevation_gain: {number: true},
						new_act_elevation_loss: {number: true},
						new_act_elevation_max: {number: true},
						new_act_elevation_min: {number: true}
					},
					debug: true
			});

		});
		function submit_form2() {
			if( $("#new_act_form2").valid() ){
				$.mobile.changePage("#act_form_page3", {role: 'dialog', transition: 'slide'});
			}
		}
	</script>

	<div data-role="header"  data-theme="b">
<!--		<a href="#act_list_page" data-icon="delete" iconpos="notext">Abbr.</a>-->
		<a href="#act_form_page1" data-icon="arrow-l" data-iconpos="left" data-rel="dialog" data-transition="slide" data-direction="reverse">Zur&uuml;ck</a>
		<h1>Neue Aktivit&auml;t 2/3</h1>
		<a href="#act_form_page3" data-icon="arrow-r" data-iconpos="right" data-rel="dialog" onclick="submit_form2(); return false">Weiter</a>
	</div>

	<div data-role="content">
	<form id="new_act_form2">
	<div data-role="fieldcontain">

	<label for="new_act_calories">Kalorien</label>
	<input name="new_act_calories" type="text" id="new_act_calories" data-mini="true" />

	<label for="new_act_hr_max">Max. Puls</label>
	<input name="new_act_hr_max" type="text" id="new_act_hr_max" data-mini="true" />
	<label for="new_act_hr_avg">Avg. Puls</label>
	<input name="new_act_hr_avg" type="text" id="new_act_hr_avg" data-mini="true" />

			<label for="new_act_equipment">Ausr&uuml;stung</label>
			<select name="new_act_equipment" id="new_act_equipment" size=3 multiple>
				{% for equipment in equipments %}
					<option value={{equipment.id}}>{{equipment.name}}</option>
				{% endfor %}
			</select>


			<label for="new_act_cadence_avg">Avg. TF</label>
			<input name="new_act_cadence_avg" type="text" id="new_act_cadence_avg" data-mini="true"/>

			<label for="new_act_cadence_max">Max. TF</label>
			<input name="new_act_cadence_max" type="text" id="new_act_cadence_max" data-mini="true"/>
			<label for="new_act_elevation_gain">Aufstieg</label>
			<input name="new_act_elevation_gain" type="text" id="new_act_elevation_gain" data-mini="true"/>
			<label for="new_act_elevation_loss">Abstieg</label>
			<input name="new_act_elevation_loss" type="text" id="new_act_elevation_loss" data-mini="true"/>
			<label for="new_act_elevation_max">Max. H&ouml;he</label>
			<input name="new_act_elevation_max" type="text" id="new_act_elevation_max" data-mini="true"/>
			<label for="new_act_elevation_min">Min. H&ouml;he</label>
			<input name="new_act_elevation_min" type="text" id="new_act_elevation_min" data-mini="true"/>
			<label for="new_act_speed_max">Vmax (<span class="speed_unit">km/h</span>)</label>
			<input name="new_act_speed_max" type="text" id="new_act_speed_max" data-mini="true"/>
			<label for="new_act_elapsed_time">Ges. Zeit</label>
			<input name="new_act_elapsed_time" type="text" id="new_act_elapsed_time" data-mini="true"/>
			<label for="new_act_time_movement">Zeit / Bwg.</label>
			<input name="new_act_time_movement" type="text" id="new_act_time_movement" data-mini="true"/>
			<label for="new_act_speed_avg">V avg. (<span class="speed_unit">km/h</span>)</label>
			<input name="new_act_speed_avg" type="text" id="new_act_speed_avg" data-mini="true">
			<label for="new_act_speed_avg_movement">V avg./ bwg. (<span class="speed_unit">km/h</span>)</label>
			<input name="new_act_speed_avg_movement" type="text" id="new_act_speed_avg_movement" data-mini="true">
	</div>
	</form>
	</div>
</div>

<div data-role="page" id="act_form_page3">
	<script>
		$("#act_form_page3").on('pageinit', function() {
			$('#new_act_form2').validate({
					rules: {
						new_act_weather_temp: {number: true},
						new_act_weather_hum: {number: true},
						new_act_weather_windspeed: {number: true},
						new_act_weather_rain: {number: true}
					},
					debug: true
			});
		});

		function submit_form3() {
			if( $("#new_act_form2").valid() ){
				$.mobile.changePage("#act_form_page3", {role: 'dialog', transition: 'slide'});
			}
			submit_activity_clicked();
		}

	</script>
	<div data-role="header"  data-theme="b">
<!--		<a href="#act_list_page" data-icon="delete" iconpos="notext">Abbr.</a>-->
		<a href="#act_form_page2" data-icon="arrow-l" data-iconpos="left" data-rel="dialog" data-transition="slide" data-direction="reverse">Zur&uuml;ck</a>
		<h1>Neue Aktivit&auml;t 3/3</h1>
		<a href="#act_form_page3" data-icon="arrow-r" data-iconpos="right" data-rel="dialog" onclick="submit_form3(); return false" rel="external">Speichern</a>
	</div>

	<div data-role="content">
	<div data-role="fieldcontain">
		<label for="new_act_weather_stationname">Ort</label>
		<input name="new_act_weather_stationname" type="text" id="new_act_weather_stationname"  data-mini="true"/>
		<label for="new_act_weather_temp">Temperatur</label>
		<input name="new_act_weather_temp" type="text" id="new_act_weather_temp"  data-mini="true"/>
		<label for="new_act_weather_hum">Luftfeuchtigkeit</label>
		<input name="new_act_weather_hum" type="text" id="new_act_weather_hum"  data-mini="true"/>
		<label for="new_act_weather_winddir">Windrichtung</label>
		<input name="new_act_weather_winddir" type="text" id="new_act_weather_winddir"  data-mini="true"/>
		<label for="new_act_weather_windspeed">Windgeschwindigkeit</label>
		<input name="new_act_weather_windspeed" type="text" id="new_act_weather_windspeed"  data-mini="true"/>
		<label for="new_act_weather_rain">Niederschlag</label>
		<input name="new_act_weather_rain" type="text" id="new_act_weather_rain"  data-mini="true"/>
	</div>
	</div>
</div>

{% endblock %} 
