{% extends "base.html" %}
{% load materializecss %}
{#{% load url from future %}#}

{% block title %}Login{% endblock %}

{% block content %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="row">
	<form class="col s12 m6" method="post" action="{% url 'login' %}">
		{% csrf_token %}
		{{ form | materializecss}}
		<input type="hidden" name="next" value="{{ next }}" />
		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
	</form>
</div>
{% endblock %}
