#garminDisplay {
	width: 390px;
	border-radius: 6px;
	border: 1px solid #dddddd;
	background: #f2f5f7 url(/media/jquery-ui/css/cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) 50% top repeat-x;
	color: #362b36;
}

#garminDisplay select { 
}

.pluginElement {
	margin: 5px;
}

.actionButton {
    margin-right: 5px;
}

#deviceSelect {
    width: 220px;
}

#statusBox {
    height: 40px;
}

#activityStatusHeader {
    padding-left: 25px;
    text-align: right;
}

.activityStatusCell {
    padding-left: 25px;
    text-align: right;
}

#aboutElement {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 9px;
    text-align: right;
}

.readResultsElement {
    margin-top: 6px;
}

.readResultsSelect {
    position: absolute;
    left: 100px;
}

#readMap {
	width: 100%;
	height: 200px;
}

#progressBar {
    height:10px;
    margin-top: 3px;
	border-radius: 6px;
	border: 1px solid #dddddd;
}

#progressBarDisplay {
    top:0px;
    height:10px;
    margin: 0px;
    padding:0px;
	border-radius: 6px;
	border: 1px solid #aed0ea;
	background: #deedf7 url(images/ui-bg_highlight-soft_100_deedf7_1x100.png) 50% 50% repeat-x;
	color: #222222;
	
}