{% extends "base.html" %}
{% load materializecss %}

{% block title %}Gesundheit{% endblock %}
{% block head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.crosshair.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.time.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/jquery.noty.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/layouts/top.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/themes/default.js"></script>
<style>
	.legend table, .legend > div {
		width: 200px !important;
	}
</style>

<script>
	var plot = null;
	var series;
	var weightData = null;
	var weight_avg = false;
	$(document).ready(function() {
		$('select').material_select();
		$('.modal-trigger').leanModal();

		$('.datepicker').pickadate({
			selectMonths: true, // Creates a dropdown to control month
			selectYears: 15, // Creates a dropdown of 15 years to control year
			container: 'body',
			format: 'dd.mm.yyyy'
		});

		$("#weight_avg").change(updatePlot);
		$("#timespan").change(timespanChange);

		ajaxDataGetter();
	});

	var ajaxDataGetter = function() {
		var timespan = $("#timespan").val();

		$.ajax({
			// have to use synchronous here, else the function
			// will return before the data is fetched
			async : false,
			url : "/health/data/?timespan=" + timespan,
			dataType : "json",
			success : onDataReceived
		});
	};

	var timespanChange = function() {
		var timespan = $("#timespan").val();
		if ( timespan >32|| timespan == -1) {
			$("#weight_avg").attr('checked', true);
		} else {
			$("#weight_avg").attr('checked', false);
		}
		ajaxDataGetter();
	};

</script>
{% include "health/includes/weight_plot_js.html" %}

{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-content">
			<span class="card-title">Gesundheit</span>
			<div class="row">
				<div id="placeholder" style="height:300px"></div>
			</div>
			<div class="row">
				<form>
					<div class="row">
						<div class="input-field col s6">
							<select id="timespan">
								<option value='-1'>Alle Daten</option>
								<option value = '{% now "z" %}'>Aktuelles Jahr</option>
								<option value='7'>Letzte 7 Tage</option>
								<option value='30'>Letzter Monat</option>
								<option value='90' selected>Letzte 3 Monate</option>
								<option value='365'>Letzte 365 Tage</option>
							</select>
							<label>Zeitraum</label>
						</div>
						<div class="col s6">
							<input id="weight_avg" type="checkbox" checked /><label for="weight_avg">Gl&auml;tten</label>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	{% if goal %}
	<div class="card-panel">
		<table border=1>
			<tr>
				<th>Zielgewicht</th><th>Zieldatum</th><th>Distanz</th>
			</tr>
			<tr>
				<td>{{goal.target_weight}}</td>
				<td>{{goal.due_date}}</td>
				<td id="td_goal_distance">{{goal_distance}}</td>
			</tr>
		</table>
	</div>
	{%endif%}

	<div class="row">
		<div class="col s12">
			<a class="waves-effect waves-light btn modal-trigger" href="#weightgoal_add_modal"><i class="material-icons left">add</i>Zielgewicht</a>
			<a class="waves-effect waves-light btn modal-trigger" href="#pulse_add_modal"><i class="material-icons left">add</i>Puls</a>
			<a class="waves-effect waves-light btn modal-trigger" href="#weight_add_modal"><i class="material-icons left">add</i>Gewicht</a>
			<a class="waves-effect waves-light btn modal-trigger" href="#desease_add_modal"><i class="material-icons left">add</i>Erkrankung</a>
		</div>
	</div>

	<div id="weightgoal_add_modal" class="modal">
		<div class="modal-content">
			<form action="/health/weightgoals/add/" method="post">
				{% csrf_token %}
				{{ goal_form|materializecss }}
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
	<div id="desease_add_modal" class="modal">
		<div class="modal-content">
			<form action="/health/desease/add/" method="post">
				{% csrf_token %}
				{{ desease_form|materializecss}}
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
	<div id="weight_add_modal" class="modal">
		<div class="modal-content">
			<form action="/health/weight/add/" method="post">
				{% csrf_token %}
				{{ weight_form|materializecss}}
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
	<div id="pulse_add_modal" class="modal">
		<div class="modal-content">
			<form action="/health/pulse/add/" method="post">
				{% csrf_token %}
				{{ pulse_form|materializecss}}
				<input type="submit" value="Submit" />
			</form>
		</div>
	</div>
{% endblock %}
