{% extends "base.html" %}

{% block title %}Gesundheit{% endblock %}
{% block head %} <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/media/js/excanvas.js"></script><![endif]-->
<script type="text/javascript" src="/media/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="/media/js/flot/jquery.flot.crosshair.js"></script>
<script type="text/javascript" src="/media/js/noty/jquery.noty.js"></script>
<script type="text/javascript" src="/media/js/noty/layouts/top.js"></script>
<script type="text/javascript" src="/media/js/noty/themes/default.js"></script>

<script>
	var plot = null;
	var series;
	var weightData = null;
	//var weight_avg = False;
	$(document).ready(function() {
		$(function() {
			$("#weight_dialog").dialog({
				autoOpen : false,
				show : "blind",
				hide : "explode",
				minWidth : 500,
				minHeight : 300
			});
		});
		$(function() {
			$("#pulse_dialog").dialog({
				autoOpen : false,
				show : "blind",
				hide : "explode",
				minWidth : 500,
				minHeight : 300
			});
		});
		$(function() {
			$("#weightgoal_dialog").dialog({
				autoOpen : false,
				show : "blind",
				hide : "explode",
				minWidth : 500,
				minHeight : 300
			});
		});
		// Initialize datepicker input
		$(function() {
			now = new Date();
			var weightDate = $("#weight_date_input");
			var weightGoalDate = $("#weightgoal_date");
			var pulseDate = $("#pulse_date");
			weightDate.datepicker({
				dateFormat : 'dd.mm.yy'
			});
			weightGoalDate.datepicker({
				dateFormat : 'dd.mm.yy'
			});
			pulseDate.datepicker({
				dateFormat : 'dd.mm.yy'
			});
			weightDate.datepicker("setDate", now);
			weightGoalDate.datepicker("setDate", now);
			pulseDate.datepicker("setDate", now);
		});
		// attach the click handler to the button
		$("#weight_send").click(addWeight);
		$("#pulse_send").click(addPulse);
		$("#weightgoal_send").click(addWeightgoal);
		$("#pulse_add").click(showPulseDialog);
		$("#weight_add").click(showWeightDialog);
		$("#weightgoal_add").click(showWeightgoalDialog);
		$("#weight_avg").change(updatePlot);
		$("#timespan").change(timespanChange);
		
		ajaxDataGetter();
	});

	function onDataReceived(rcvdSeries) {
		series = rcvdSeries;
		updatePlot();
	}
	function updatePlot() {
		var plots = [
			{ "name": "weight", "dataname": "weight", "label": "Gewicht = ", "color": "#FF0000",  "unit": "kg", "yaxis": 1},
			{ "name": "body_fat", "dataname": "body_fat", "label": "Körperfettanteil = ", "color": "#0070A3", "unit": "%", "yaxis": 3},
			{ "name": "body_water", "dataname": "body_water", "label": "Wasseranteil = ", "color": "#00FF00", "unit": "%", "yaxis": 3},
			{ "name": "bones_weight", "dataname": "bones_weight", "label": "Knochengewicht = ", "color": "#FFBF00", "unit": "kg", "yaxis": 1},
			{ "name": "muscles_weight", "dataname": "muscles_weight", "label": "Muskelgewicht = ", "color": "##FFBF00", "unit": "kg", "yaxis": 1},
			{ "name": "pulse_rest", "dataname": "pulse_rest", "label": "Ruhepuls = ", "color": "##FFBF00", "unit": "1/min", "yaxis": 2},
			{ "name": "pulse_max", "dataname": "pulse_max", "label": "Maximalpuls = ", "color": "##FFBF00", "unit": "1/min", "yaxis": 2},
			{ "name": "weight_goal", "dataname": "weight_goal", "label": "Zielgewicht = ", "color": "##FFBF00", "unit": "kg", "yaxis": 1}
		];

		var plotweightData = {};


		for( var i = 0; i < plots.length; i++){
			if (plots[i].name == "weight"){
				if( $("#weight_avg").is(':checked')) {
					plots[i]["data"] = series["data"]['weight_weekly'];
				} else {
					plots[i]["data"] = series["data"]['weight'];
				}
			} else {
				plots[i]["data"] = series["data"][plots[i]["dataname"]];
			}
		}

		var plotPlaceHolder = $("#placeholder");
		var plot = $.plot(plotPlaceHolder, plots, {
			xaxis : {
				mode : "time",
				minTickSize : [1, "day"],
				timeformat : "%d.%m.%y"
			},
			yaxes : [
				{
					position : "left",
					axisLabel: "kg"
				}, {
					position : "right",
					axisLabel: "bpm"
				}, {
					position : "right",
					axisLabel: "%"
				}
			],
			crosshair : {
				mode : "x"
			},
			grid : {
				hoverable : true,
				autoHighlight : false
			}
		});

		var legends = plotPlaceHolder.find(".legendLabel");
		legends.each(function() {
			// fix the widths so they don't jump around
		//	$(this).css('width', $(this).width());
		});
		var updateLegendTimeout = null;
		var latestPosition = null;

		function updateLegend() {
			updateLegendTimeout = null;

			var pos = latestPosition;

			var axes = plot.getAxes();
			if(pos.x < axes.xaxis.min || pos.x > axes.xaxis.max || pos.y < axes.yaxis.min || pos.y > axes.yaxis.max)
				return;

			var i, j, dataset = plot.getData();
			for( i = 0; i < dataset.length; ++i) {
				var series = dataset[i];

				// find the nearest points, x-wise
				for( j = 0; j < series.data.length; ++j)
				if(series.data[j][0] > pos.x)
					break;

				// now interpolate
				var y, posA = series.data[j - 1], posB = series.data[j];
				if(posA == null)
					if(posB != null)
						y = posB[1];
					else
						y = 0;
				else if(posB == null)
					if(posA != null)
						y = posA[1];
					else
						y = 0;
				else
					y = posA[1] + (posB[1] - posA[1]) * (pos.x - posA[0]) / (posB[0] - posA[0]);

				legends.eq(i).text(series.label.replace(/=.*/, "= " + y.toFixed(2)));
			}
		}

		plotPlaceHolder.bind("plothover", function(event, pos, item) {
			latestPosition = pos;
			if(!updateLegendTimeout)
				updateLegendTimeout = setTimeout(updateLegend, 50);
		});
		return series

	}

	var ajaxDataGetter = function() {
		var timespan = $("#timespan").val();

		$.ajax({
			// have to use synchronous here, else the function
			// will return before the data is fetched
			async : false,
			url : "/health/data/?timespan=" + timespan,
			dataType : "json",
			success : onDataReceived
		});
	};

	var addWeight = function() {
		// retrieve the text entered
		var fields = ['weight_date', 'weight', 'body_fat', 'body_water', 'bones_weight', 'muscles_weight'];
		var data = {};

		// store value in data variable
		var value;
		for(var field in fields){
			value =$("#" + fields[field] + "_input").val();
			if(value != "") {
				data[fields[field]] = value;
			}
		}

		$.post("/health/weights/add/", data, function(data) {
			if (data["success"]) {
				noty({text: "Gewicht gespeichert", type: 'success', timeout: 5000});
				$("#weight_dialog").dialog("close");
				ajaxDataGetter();
				{% if goal %}
					var lastWeight = series['data']['weight'][series['data']['weight'].length - 1];
					var distance = lastWeight[1] - {{goal.target_weight|safe}};
					$("#td_goal_distance").html(distance.toFixed(1));
				{% endif %}
			} else {
				noty({text: "Fehler aufgetreten: " + data["msg"], type: 'error', timeout: 5000});
			}
		}, "json");
		return false;

	};

	var addPulse = function() {
		var date = $("#pulse_date").val();

		var data = {
			date : date
		};
		var pulseRest = $("#pulse_rest").val();
		var pulseMax = $("#pulse_maximum").val();
		if(! isNaN(parseInt(pulseRest))) {
			data["rest"] = parseInt(pulseRest);
		}
		if(! isNaN(parseInt(pulseMax))) {
			data["maximum"] = parseInt(pulseMax);
		}
		if((! "rest" in data) && (! "maximum" in data)){
			noty({text: "Kein gueltiger Puls angegeben", type: 'error', timeout: 5000});
		}
		$.post("/health/pulses/add/", data, function(data) {
			if (data["success"]) {
				noty({text: "Puls gespeichert", type: 'success', timeout: 5000});
				$("#pulse_dialog").dialog("close");
				ajaxDataGetter();
			} else {
				noty({text: "Fehler aufgetreten: " + data["msg"], type: 'error', timeout: 5000});
			}
		}, "json");
	};
	
	var addWeightgoal = function() {
		var date = $("#weightgoal_date").val();
		var weight = $("#weightgoal_weight").val();
		var data = {
			date : date,
			weight : weight
		};
		$.post("/health/weightgoals/add/", data, function(data) {
			if (data["success"]) {
				noty({text: "Zielgewicht gespeichert", type: 'success', timeout: 5000});
				$("#weightgoal_dialog").dialog("close");
				ajaxDataGetter();
			} else {
				noty({text: "Fehler aufgetreten: " + data["msg"], type: 'error', timeout: 5000});
			}
		}, "json");
		return false;
	};
	
	var timespanChange = function() {
		var timespan = $("#timespan").val();
		if ( timespan >32|| timespan == -1) {
			$("#weight_avg").attr('checked', true);
		} else {
			$("#weight_avg").attr('checked', false);
		}
		ajaxDataGetter();
	};

	var showWeightDialog = function() {
		$("#weight_dialog").dialog("open");
		$("#weight_date_input").datepicker("hide");
		$("#weight_input").focus();
	};
	
	var showPulseDialog = function() {
		$("#pulse_dialog").dialog("open");
		$("#pulse_date").datepicker("hide");
		$("#pulse_rest").focus();
	};
	
	var showWeightgoalDialog = function() {
		$("#weightgoal_dialog").dialog("open");
		$("#weightgoal_date").datepicker("hide");
		$("#weightgoal_weight").focus();
	};

</script>
{% endblock %}

{% block content %}
<div class="ui-widget ui-widget-content ui-corner-all">
	<h2 class="activity_facts ui-widget-header ui-corner-top ui-state-active">Gesundheit</h2>

	<div id="timespanform" class="activity_facts">
		<select id="timespan">
			<option value='-1'>Alle Tage</option>
			<option value = '{% now "z" %}'>Aktuelles Jahr</option>
			<option value='7'>Letzte 7 Tage</option>
			<option value='30'>Letzter Monat</option>
			<option value='90' selected>Letzte 3 Monate</option>
			<option value='365'>Letzte 365 Tage</option>
		</select>
		<input id="weight_avg" type="checkbox" checked /><label for="weight_avg">Gl&auml;tten</label>
	</div>
	<br/>
	<div id="placeholder" style="width:600px;height:300px;margin:5px;"></div>
		{% if goal %}
		<hr/>
		<table border=1>
			<tr>
				<th>Zielgewicht</th><th>Zieldatum</th><th>Distanz</th>
			</tr>
			<tr>
				<td>{{goal.target_weight}}</td>
				<td>{{goal.due_date}}</td>
				<td id="td_goal_distance">{{goal_distance}}</td>
			</tr>
		</table>
		{%endif%}
	</div>
	<br/>

	<div class="ui-widget ui-widget-content ui-corner-all" style="padding:0px 5px 5px 5px">
	<p>
		<input type="submit" id="weight_add" value="Neue Gewichtsmessung...">
		<input type="submit" id="pulse_add" value="Neue Pulsmessung...">
		<input type="submit" id="desease_add" value="Neue Erkrankung...">
	</p>
	<input type="submit" id="weightgoal_add" value="Neues Zielgewicht...">
	<div id="weight_dialog" title="Neue Gewichtsmessung">
		<table>
			<tr>
				<td>Datum: </td><td><input type="text" id="weight_date_input"/></td>
			</tr>
			<tr>
				<td>Gewicht: </td><td><input type="text" id="weight_input"/></td>
			</tr>
			<tr>
				<td>Körperfett: </td><td><input type="text" id="body_fat_input"/></td>
			</tr>
			<tr>
				<td>Wasseranteil: </td><td><input type="text" id="body_water_input"/></td>
			</tr>
			<tr>
				<td>Knochengewicht: </td><td><input type="text" id="bones_weight_input"/></td>
			</tr>
			<tr>
				<td>Muskelgewicht: </td><td><input type="text" id="muscles_weight_input"/></td>
			</tr>
		</table>
		<input type="submit" id="weight_send" value="Speichern"/>
	</div>
	<div id="pulse_dialog" title="Neue Pulsmessung">
		Datum:
		<input type="text" id="pulse_date"/>
		<br/>
		Ruhepuls:
		<input type="text" id="pulse_rest"/>
		<br/>
		Maximalpuls:
		<input type="text" id="pulse_maximum" />
		<br/>
		<input type="submit" id="pulse_send" value="Speichern">
	</div>
	<div id="weightgoal_dialog" title="Neues Ziel">
		Datum:
		<input type="text" id="weightgoal_date"/>
		<br/>
		Gewicht:
		<input type="text" id="weightgoal_weight"/>
		<br/>
		<input type="submit" id="weightgoal_send" value="Speichern"/>
	</div>
	{% include "health/includes/desease_dialog.html" %}
</div>
{% endblock %} 
