{% extends "base.html" %}

{% block title %}Activities list{% endblock %}
{% block head %} 

{%  if garmin_keys %}
<style type="text/css" media="all">@import "/media/css/garmin/communicator.css";</style>
<script type="text/javascript" src="/media/js/garmin/prototype.js"></script>
<script type="text/javascript" src="/media/js/garmin/device/GarminDeviceDisplay.js"></script>
<script type="text/javascript" src="/media/js/garmin/device/GarminDevicePlugin.js"></script>
<script type="text/javascript" src="/media/js/garmin/device/GarminDeviceControl.js"></script>
<script type="text/javascript" src="/media/js/garmin/util/Util-PluginDetect.js"></script>
{%  endif %}


<script type="text/javascript" src="/media/js/common.js"></script>

<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/media/js/jquery.tablesorter.pager.js"></script>
<script type="text/javascript" src="/media/js/jquery.ui.timepicker.js"></script>
<script type="text/javascript" src="/media/js/jquery.dataTables.js"></script>

<script type="text/javascript" src="/media/js/noty/jquery.noty.js"></script>
<script type="text/javascript" src="/media/js/noty/layouts/top.js"></script>
<script type="text/javascript" src="/media/js/noty/themes/default.js"></script>
<script type="text/javascript" src="/media/jquery-ui/js/jquery-ui-1.10.1.custom.js"></script>

<link rel='stylesheet' type='text/css' href='/media/css/jquery.dataTables_themeroller.css'/>
<link rel='stylesheet' type='text/css' href='/media/jquery-ui/css/cupertino/jquery-ui-1.10.1.custom.css' />
<link rel='stylesheet' type='text/css' href='/media/css/jquery.ui.timepicker.css'/>
<link rel='stylesheet' type='text/css' href='/media/css/tooltip.css'/>

<script>
	var garmincontrol;
	var sport_data = Array();
	
	$(document).ready(function() {
		// Initialize tablesorter
		/*
		$.getJSON("/activities/get", function(data) {
			// Add the messages div to the container
			$("#myTable tbody").empty();
			$.each(data, function(i, item) {
				var act_date=new Date(item.date);
				// why does js not just have strftime??
				var act_date_string = pad(act_date.getDate(),2) + "." + pad(act_date.getMonth() + 1,2) + "." + act_date.getFullYear() + " " + pad(act_date.getHours(),2) + ":" + pad(act_date.getMinutes(),2); 
				$("#myTable tbody").append('<tr><td><a class="activityPopupTrigger" href="/activities/' + item.id + '/" rel="' + item.id + '" title="' + item.name + '">' + item.name 
					+ '</a>&nbsp;&nbsp;&nbsp;<img src="/media/img/edit-icon.png" alt="Bearbeiten" onclick="show_activity_dialog(' + item.id + ')"/>&nbsp;&nbsp;'
					+ '<img src="/media/img/delete-icon.png" alt="L&ouml;schen" onclick="show_activity_delete_dialog(' + item.id + ')"/></td><td>' 
					+ item.sport + '</td><td>'+ act_date_string + '</td><t><td>' + item.duration + '</td></tr>');
			});
			$.tablesorter.addParser({
				id: 'datestring',
				is: function(s) {
					return false;
				},
				format: function(s) {
					var date_time = s.split(' ');
					var date = date_time[0].split('.');
					var time = date_time[1].split(':');
					var date = new Date(year = parseInt(date[2]), month = parseInt(date[1]), day = parseInt(date[0]), hours = parseInt(time[0]), minutes = parseInt(time[1]), seconds = 0);
					return date.getTime();
				},
				type: 'numeric'
			});
			$("#myTable").tablesorter({
					headers: {2: { sorter:'datestring' }}
				}).tablesorterPager({
					container: $("#pager"), 
					positionFixed: false
				});
			$("#myTable").trigger("sorton", [[[2,1], [0,0]]]);
			$("#list").remove();
			$('#container').show('slow');

		});
		*/
		{%  if garmin_keys %}
		try {
			control = new Garmin.DeviceControl();
			if (control && control.isPluginInitialized()) {

			   	var display = new Garmin.DeviceDisplay("garminDisplay", { 
					pathKeyPairsArray: [{% for url, key in garmin_keys %}"{{url}}", "{{key}}", {% endfor %}],
					showReadDataElement: true,
					showProgressBar: true,
					showFindDevicesElement: true,
					showFindDevicesButton: false,
					showDeviceButtonsOnLoad: false,
					showDeviceButtonsOnFound: false,
					autoFindDevices: true,
					showDeviceSelectOnLoad: true,
					autoHideUnusedElements: true,
					showReadDataTypesSelect: false,
					readDataType: Garmin.DeviceControl.FILE_TYPES.tcxDir,
					deviceSelectLabel: "Choose Device <br/>",
					readDataButtonText:			"List Activities",
					showCancelReadDataButton:		false,
					lookingForDevices: 'Searching for Device <br/><br/> <img src="/media/css/garmin/ajax-loader.gif"/>',
					uploadsFinished: "Transfer Complete",
					uploadSelectedActivities: true,
					uploadCompressedData: false,    // Turn on data compression by setting to true.
					uploadMaximum: 1, 
					dataFound: "#{tracks} activities found on device",
					showReadDataElementOnDeviceFound: true,
					postActivityHandler: function(activityXml, display) {
						data = { filename: "test.tcx", content:activityXml}
						$.post('.', data, function(data) {
							if(data["success"]){
								window.location=data["redirect_to"];
							} else {
								noty({text: "Fehler aufgetreten: " + data["msg"], type: 'error', timeout: 5000});
							}
						}, "json");
					}
		
				});
				$('#garminDisplay').show();


			}
		} catch (e) {
			$('#garminDisplay').hide();			
		}
		
		{%  endif %}	
		$("#activity_add").click(function(){show_activity_dialog();});
		$("#newact_fileform").click(function(){$("#newact_filesubmit").removeAttr("disabled");});
		
		// Enable tooltip for activities table
		$("#activities_table").tooltip({
			content: function(callback) {
				var activity_id = $(this).attr('rel');
				callback(activity_id);
				$.get("/activities/get_json", {id: activity_id}).done(function(data) {
					act = eval(data.activity);
					var fields = act[0].fields;

					var text = "<b>" + fields.name + "</b><table><tr>";
					if(data.hasOwnProperty('preview_img')){
						text = text + '<td><img width=150 src="' + data.preview_img + '" /></td>';
					}

					if( fields.distance ){
						var distance = parseFloat(fields.distance).toFixed(2).replace(/\./,",") + " km";
					} else {
						var distance = "-";
					}
					if( fields.time ) {
						var time = secondsToTime(fields.time);
					} else {
						var time = "-";
					}
					if( fields.speed_avg ){
						var speed_avg = parseFloat(fields.speed_avg);
						if(sport_data[fields.sport]["pace"]){
							speed_avg = speedToPace(speed_avg) + " min/km";
						} else {
							speed_avg = speed_avg.toFixed(2).replace( /\./,"," ) + " km/h";
						}


					} else {
						var speed_avg = "-"
					}
					text = text + "<td> " 
						+ "<table><tr><td>Distanz</td><td>" + distance +"</td></tr>" 
						+ "<tr><td>Dauer</td><td>" + time + "</td></tr>"
						+ "<tr><td>Ø Geschwindigkeit</td><td>" + speed_avg + "</td></tr>"
						+ "</table>"
						+ "</td></tr></table>";
					callback(text);
				})
			},
			position: { my: "left+30 top", at: "right top", collision: "flipfit" },
			tooltipClass: "activitylist_tooltip"
		});
		
		$('#activities_table').dataTable({
			"aaSorting": [[ 2, "desc" ]],
			"aoColumnDefs": [{ 
				"aTargets": [3],
				"bSearchable": false, 
				"mRender": function ( data, type, full ) {
					return secondsToTime(data);
				}
			},
			{ "aTargets": [2], 
				"bSearchable": false, 
				"sType": 'date',
				"mRender": function ( data, type, full ) {
					var javascriptDate = new Date(data);
					var dateString = pad(javascriptDate.getDate(),2) + "." + pad(javascriptDate.getMonth() + 1,2) + "." + javascriptDate.getFullYear() + " " + pad(javascriptDate.getHours(),2) + ":" + pad(javascriptDate.getMinutes(),2); 
					//javascriptDate = javascriptDate.getDate()+"/"+javascriptDate.getMonth()+1+"/"+javascriptDate.getFullYear();
					return dateString;
				}
			}],
 			"bJQueryUI": true,
			"bServerSide": true,
			"oLanguage": {
				"sUrl":   "/media/lang/dataTables.de_DE.txt",
			},
			"sAjaxSource": "/activities/get",
		});
	});
	
	// Initialize sport_data array with speed / pace unit information
	{% for sport in sports %}
		{% if sport.speed_as_pace %}
			sport_data[{{sport.id}}] = {'pace': true, 'label': "min/km" };
		{% else %}
			sport_data[{{sport.id}}] = {'pace': false, 'label': "km/h" };
		{% endif %}
	{% endfor %}
</script>
{% endblock %}
{% block content %}


	<table id="activities_table" class="activities_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Sportart</th>
				<th>Datum</th>
				<th>Dauer</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<br/>
	<hr/>


<div class="column">
	<div class="ui-widget-content ui-corner-all">
		<input type="submit" id="activity_add" value="Neue Aktivit&auml;t...">
		<br/><br/>
		<!-- Upload form. Note enctype attribute! -->
		<form method="post" enctype="multipart/form-data">
		    <input id = "newact_fileform" type="file" name="trackfile" />
			<input id = "newact_filesubmit" type="submit" value="Upload" disabled="disabled"/>
		</form>
	</div>
</div>

{%  if garmin_keys %}
<div class="column">
	<div id="garminDisplay" style="display:none;"></div>
</div>
{%  endif %}
<div style="clear:both"></div>

{% include "activities/includes/activity_dialog.html" %}

<div id="alert_dialog" title="Fehler">
	<div id="alert_dialog_content"></div>
</div>

{% endblock %} 
