{% extends "base.html" %}
{% block title %}Kalender{% endblock %}
{% block head %}
<link rel='stylesheet' type='text/css' href='/media/css/fullcalendar.css' />
<script type="text/javascript" src="/media/js/noty/jquery.noty.js"></script>
<script type="text/javascript" src="/media/js/noty/layouts/top.js"></script>
<script type="text/javascript" src="/media/js/noty/themes/default.js"></script>


<script type='text/javascript' src='/media/js/fullcalendar.js'></script>
<script type="text/javascript">
	// we will add our javascript code here

	$(document).ready(function() {
		$(function() {
			$( "#dialog" ).dialog({
				autoOpen: false,
				show: "blind",
				hide: "explode"
			});
		});
		updateCalendar();
		$(':checkbox').change(function() {
			//updateCalendar();
			$('#calendar').fullCalendar('refetchEvents');
		});
		$( "#filter_dialog" ).dialog({autoOpen: false});

		$("#filter_button").on("click", function() {
			$("#filter_dialog").dialog("open");
		});
	});

	var get_filtered_events;
	get_filtered_events = function (start, end, cb) {
		console.debug("Get filtered events called");
		sports = new Array();
		$(".sport_cb:checked").each(function () {
			sports.push($(this).val());
		});

		console.debug(sports);
		$.getJSON("/calendar/events/", {start: Math.round(start.getTime() / 1000), end: Math.round(end.getTime() / 1000), sports: JSON.stringify(sports)}, function(data) {
			console.debug(data);
			cb(data);
		})
	};
	
	var updateCalendar = function() {
		// do stuff when DOM is ready
		$('#calendar').fullCalendar({
			theme : true,
			timeFormat: {'agenda': 'H:mm{ - H:mm}',
						'':'' },
			firstDay: 1,	// begin weeks on monday
			header : {
				left : 'prev,next today',
				center : 'title',
				right : 'month,agendaWeek'
			},
			buttonText : {
				today: 'Heute',
				month: 'Monat',
				week: 'Woche'
			},
			monthNames: monthNames,
			monthNamesShort: monthNamesMin,
			weekSummary: true,
			dayNamesShort: dayNamesMin,
			events : function (start, end, cb) {
				get_filtered_events(start, end, cb)
			},
			dayClick : function() {
				$("#new_act_date").datepicker("setDate", arguments[0]);
				$("#activity_dialog").dialog("open");
			},
			eventClick : function(calEvent) {
				if(calEvent.hasOwnProperty('url')) {
					window.open(calEvent.url);
				} else if(calEvent.hasOwnProperty('className')) {
					if ($.inArray('fc_desease', calEvent.className) != -1) {
						populateDeseaseDialog(calEvent.desease_id);
						showDeseaseDialog();
					}
				}

				return false;
			}
		})
	};


</script>
{% endblock %}

{% block content %} <!-- we will add our HTML content here -->

<div id='outer'>
<div id='calendar'></div>
<input type="button" id="filter_button" value="Filter anzeigen">

<div id="filter_dialog" title="Filter">
	<table>
		<tr>
			<td valign="top">
				{%  if sports %}
				<p>
					{% for sport in sports %}
						<input type="checkbox" class="sport_cb" value="{{ sport.pk }}" checked>{{ sport.name }}<br/>
					{% endfor %}
				</p>
				{%  endif %}
			</td>
		</tr>
	</table>
</div>
</div>

{% include "activities/includes/activity_dialog.html" %}
{% include "health/includes/desease_dialog.html" %}

{% endblock %} 
