{% extends "base.html" %}
{% load tz %}
{% block title %}{{ activity.name }}{% endblock %}

{% block head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.crosshair.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.threshold.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.resize.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/jquery.noty.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/layouts/top.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/themes/default.js"></script>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<link rel='stylesheet' type='text/css' href='/media/css/tooltip.css'/>
<link rel='stylesheet' type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" />

{% include "activities/includes/detail_js.html" %}

{% endblock %}

{% block content %}

	<div class="row">
		<div class="col s12">
			<div class="card">
				<div class="card-content">
					<span class="card-title">{{ activity.name }}</span>
					<p>
					{% localtime on %}
						{{ activity.date }} <br/>
					{% endlocaltime %}
					Sportart: <b>{{ activity.sport }}</b> | Ereignistyp: <b>{{ activity.event }}</b> <br/>
					{% if activity.comment != "" %}
						<hr>
						{{ activity.comment|linebreaksbr }}
					{% endif %}
					</p>
				</div>
				{% if not public %}
				<div class="card-action">
					<i class="material-icons" onclick="showActivityDialog({{ activity.id }})">edit</i>
					<i class="material-icons" onclick="showActivityDeleteDialog({{ activity.id }})">delete</i>
					{% if tcx %}
						<a href="{{ tcx.url }}"><i class="material-icons">file_download</i></a>&nbsp;&nbsp;
					{% endif %}
					{% if fb_app_id %}
						<i class="material-icons" onclick="postToFeed()">share</i>
					{% endif %}
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div class="row">
	<div class="col s12">
	  <ul class="tabs">
		<li class="tab col s3"><a class="active" href="#tab1">Details</a></li>
		{% if laps %}
		<li class="tab col s3"><a href="#tab2">Zwischenzeiten</a></li>
		{% else %}
		<li class="tab col s3 disabled"><a href="#tab2">Zwischenzeiten</a></li>
		{% endif %}
	  </ul>
	</div>
	<div id="tab1" class="col s12">
		<div class="col s12 m4">
			<div class="card-panel">
				<div class="card-content">
					<table>
						<tr><td>Distanz</td><td>{{ activity.distance|default_if_none:"-" }} km</td></tr>
						<tr><td>Dauer</td><td>{{ activity.time|default_if_none:"-" }}</td></tr>
						<tr><td>Ø Geschwindigkeit</td><td>{{ activity.speed_avg|default_if_none:"-" }} {{speed_unit}}</td></tr>
						<tr><td>Aufstieg</td><td>{{ activity.elevation_gain|default_if_none:"-" }} m</td></tr>
						<tr><td>Kalorien</td><td>{{ activity.calories|default_if_none:"-" }} kcal</td></tr>
					</table>
				</div>
			</div>
			<div class="card-panel">
				<div class="card-content">
					<table id="activity_details_table">
						<tbody>
						{% if not public %}
							<tr><td>Ausr&uuml;stung</td><td>{{ activity.equipment.all|join:", " }}</td></tr>
						{% endif %}

						{% if activity.cadence_avg %}<tr><td>Ø Trittfrequenz</td><td>{{ activity.cadence_avg|default_if_none:"-" }} / min</td></tr>{% endif %}
						{% if activity.cadence_max %}<tr><td>Max. Trittfrequenz</td><td>{{ activity.cadence_max|default_if_none:"-" }} / min</td></tr>{% endif %}
						{% if activity.elevation_loss %}<tr><td>Abstieg</td><td>{{ activity.elevation_loss|default_if_none:"-" }} m</td></tr>{% endif %}
						{% if activity.elevation_min %}<tr><td>Min. Höhe</td><td>{{ activity.elevation_min|default_if_none:"-" }}</td></tr>{% endif %}
						{% if activity.elevation_max %}<tr><td>Max. Höhe</td><td>{{ activity.elevation_max|default_if_none:"-" }}</td></tr>{% endif %}
						{% if activity.hf_max %}<tr><td>Max. HF</td><td>{{ activity.hf_max|default_if_none:"-" }}</td></tr>{% endif %}
						{% if activity.hf_avg %}<tr><td>Ø HF</td><td>{{ activity.hf_avg|default_if_none:"-" }}</td></tr>{% endif %}
						{% if activity.speed_max %}<tr><td>Max. Geschwindigkeit</td><td>{{ activity.speed_max|default_if_none:"-" }} {{speed_unit}}</td></tr>{% endif %}
						{% if activity.speed_avg_movement %}<tr><td>Ø Geschwindigkeit in Bewegung</td><td>{{ activity.speed_avg_movement|default_if_none:"-" }} {{speed_unit}}</td></tr>{% endif %}
						{% if activity.time_elapsed %}<tr><td>Gesamtzeit</td><td>{{ activity.time_elapsed|default_if_none:"-" }}</td></tr>{% endif %}
						{% if activity.time_movement %}<tr><td>Zeit in Bewegung</td><td>{{ activity.time_movement|default_if_none:"-" }}</td></tr>{% endif %}
						</tbody>
					</table>
				</div>
			</div>
			{% if activity.weather_stationname  %}
			<div class="card-panel">
				<div class="card-content">
					<table>
						<tr><td>Station</td><td>{{ activity.weather_stationname|default_if_none:"-" }}</td></tr>
						<tr><td>Temperatur</td><td>{{ activity.weather_temp|default_if_none:"-" }} &deg;C</td></tr>
						<tr><td>Windgeschwindigkeit</td><td>{{ activity.weather_windspeed|default_if_none:"-"}} km/h</td></tr>
						<tr><td>Windrichtung</td><td>{{ activity.weather_winddir|default_if_none:"-"}}</td></tr>
						<tr><td>Luftfeuchtigkeit</td><td>{{ activity.weather_hum|default_if_none:"-"}} %</td></tr>
						<tr><td>Niederschlag</td><td>{{ activity.weather_rain|default_if_none:"-"}} mm</td></tr>
					</table>
				</div>
			</div>
			{% endif %}
		</div>
		<div class="col s12 m8">
			{% if gpx_url %}
			<div class="card-panel medium">
				<div class="card-content">
					<div class="details_plot_overlay">
						<div class="card-panel details_plot_summary details_map_summary" id="details_map_summary" style="visibility: hidden">
							<div class="card-content" id="details_map_summary_content">
								Test
							</div>
						</div>
					</div>
					<div id="details_map_container" style="height:400px"></div>
				</div>
			</div>
			{% endif %}
			{% if tcx %}
				{% for graph in plots %}
					<div class="card-panel" id="details_{{ graph.name }}_div">
						<div class="card-content">
							<div class="details_plot_overlay">
								<div class="card-panel details_plot_summary" id="details_{{ graph.name }}_summary" style="visibility: hidden">
									<div class="card-content" id="details_{{ graph.name }}_summary_content">
										Test
									</div>
								</div>
							</div>
							<div class="details_plot_container" id="details_{{ graph.name }}_container"></div>
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
	<div id="tab2" class="col s12">
	{% if laps %}
		<div class="card-panel">
			<table id="laps_table" class="striped responsive-table">
				<thead>
					<tr><th>Zeit</th><th>Distanz</th><th>Max. Geschwindigkeit</th><th>Ø Geschwindigkeit</th><th>Aufstieg</th><th>Abstieg</th><th>Max. HF</th><th>Ø HF</th><th>Kalorien</th></tr>
				</thead>
				<tbody>
					{% for lap in laps %}
					<tr>
						<td>{{ lap.time }}</td>
						<td>{{ lap.distance }}</td>
						<td>{{ lap.speed_max }}</td>
						<td>{{ lap.speed_avg }}</td>
						<td>{{ lap.elevation_gain }}</td>
						<td>{{ lap.elevation_loss }}</td>
						<td>{{ lap.hf_max }}</td>
						<td>{{ lap.hf_avg }}</td>
						<td>{{ lap.calories }}</td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	</div>

{#		<div id="plotbase_form" class="hidden">#}
{#			<select id="plot_xaxis">#}
{#				<option value = 0>Distanz</option>#}
{#				<option value = 1>Zeit</option>#}
{#			</select>#}
{#			<input type="submit" id="plot_zoom" value="Zoom" />#}
{#			<input type="submit" id="plot_reset_zoom" value="Reset Zoom" style="visibility: hidden"/>#}

</div>
{% if not public %}
{% include "activities/includes/activity_dialog.html" %}


{% endif %}

{% endblock %}
