{% extends "base.html" %}
{% block title %}Berichte{% endblock %}
{% block head %} 
<script type="text/javascript" src="/media/js/common.js"></script>
<script type="text/javascript" src="/media/js/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="/media/js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="/media/js/flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/media/js/flot/jquery.flot.stack.js"></script>

<script type="text/javascript" src="/media/jquery-ui/ui/jquery.ui.core.js"></script>
<script type="text/javascript" src="/media/jquery-ui/ui/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/media/jquery-ui/ui/jquery.ui.dialog.js"></script>
<script type="text/javascript" src="/media/jquery-ui/ui/jquery.ui.datepicker.js"></script>

<link rel="stylesheet" type="text/css" href="/media/jquery-ui/themes/cupertino/jquery.ui.datepicker.css" />
<link rel="stylesheet" type="text/css" href="/media/jquery-ui/themes/cupertino/jquery.ui.all.css" />
<link rel='stylesheet' type='text/css' href='/media/jquery-ui/themes/cupertino/jquery.ui.theme.css' />
<link rel='stylesheet' type='text/css' href='/media/jquery-ui/themes/cupertino/jquery.ui.dialog.css' />

<script>
	$(document).ready(function() {
		now = new Date();
		$( "#custom_start_date" ).datepicker(
			{ dateFormat: 'dd.mm.yy',
			  firstDay: 1,
			  monthNames: monthNames,
			  dayNamesMin: dayNamesMin,
			}
		);
		$( "#custom_end_date" ).datepicker(
			{ dateFormat: 'dd.mm.yy',
			  firstDay: 1,
			  monthNames: monthNames,
			  dayNamesMin: dayNamesMin,
			}
		);
		
		$("#timespan").change(function() {
			if($("#timespan option:selected").val() != -2) {
				if ($("#custom_timespan").is(':visible')) {
					$("#custom_timespan").hide("slow");
				}
				ajaxDataGetter();
			} else {
				$("#custom_timespan").show("slow");
			}
		});
		$(':checkbox').change(function() {
			ajaxDataGetter();
		});
		$('#custom_date_submit').click(function() {
			ajaxDataGetter();
		});
		ajaxDataGetter();
	});


	var ajaxDataGetter = function(){
		events = new Array();
		sports = new Array();
		$(".event_cb:checked").each(function () {
			events.push($(this).val());
		});
		$(".sport_cb:checked").each(function () {
			sports.push($(this).val());
		});
		param = {"sports": sports, "events": events}
		var param_b64 = base64Encode(JSON.stringify(param));
		
		if($("#timespan option:selected").val() == -2 ){
			// evaluate custom date fields
			tmpdate = $("#custom_start_date").datepicker("getDate");
			var start_date =  Date.UTC(tmpdate.getUTCFullYear(), tmpdate.getUTCMonth(), tmpdate.getUTCDate());
			tmpdate = $("#custom_end_date").datepicker("getDate");
			var end_date =  Date.UTC(tmpdate.getUTCFullYear(), tmpdate.getUTCMonth(), tmpdate.getUTCDate());
		} else {
			// enddate is today
			var now = new Date();
			var end_date = Date.UTC(now.getUTCFullYear(), now.getUTCMonth(), now.getUTCDate())

			if($("#timespan option:selected").val() == -1 ){
				start_date = 0;
			} else {
				// calculate offset (86400000 = milliseconds per day)
				start_date = end_date - ($("#timespan option:selected").val() * 86400000)
			}
		}
		
		var bysport_url = "/reports/get/?mode=sports&startdate=" + start_date + "&enddate="+ end_date + "&param=" + param_b64;
		var byweek_url = "/reports/get/?mode=weeks&startdate=" + start_date + "&enddate="+ end_date + "&param=" + param_b64;
		
		function onPieDataReceived(data) {
			update_table(data);
			
			var pie_data = new Array();
			
			for(var key in data) {
				if(data[key]['num_activities'] > 0) {
					var pie_series = Object();
					pie_series["label"] = key;
					pie_series["data"] = data[key]['total_time'];
					pie_series["color"] = data[key]['color'];
					pie_data.push(pie_series);
				}
			}
			$.plot($("#pie1"), pie_data,
				{
					series: {
						pie: { 
							show: true,
							radius: 1,
							label: {
								show: true,
								radius: 3/4,
								formatter: function(label, series){
									return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
								},
								background: { 
									opacity: 0.5,
									color: '#000'
								}
							}
						}
					},
					legend: {
						show: false
					}
					
				}
			);
			
		}
		
		function timeTickFormatter(val, axis) {
			var hours = Math.floor(val/60);
			var minutes = val % 60;
			
			return hours+":"+minutes;
		}
		
		function weekTickFormatter(val, axis) {
			var date = new Date();
			date.setTime(val);
			return date.getWeek();
		}
		
		function onBarDataReceived(data) {
			$.plot($("#bar_weeks_time"), data.time, {
				xaxis : {
					mode : "time",
					minTickSize : [7, "day"],
					tickFormatter:weekTickFormatter,
				},
				yaxis: {
					tickFormatter:timeTickFormatter,
				},
				series: {
					stack: true,
					bars: { show: true, lineWidth: 0, barWidth: 604800000.0 * 0.8 }	// 604800000 is 7 days in timestamp notation
				},
				grid: {
					show: true,
				},
				legend: {
					show: false,
				}
			});

			$.plot($("#bar_weeks_distance"), data.distance, {
				xaxis : {
					mode : "time",
					minTickSize : [7, "day"],
					tickFormatter:weekTickFormatter,
				},
				series: {
					stack: true,
					bars: { show: true, lineWidth: 0, barWidth: 604800000.0 * 0.8 }	// 604800000 is 7 days in timestamp notation
				},
				grid: {
					show: true,
				},
				legend: {
					show: false,
				}
			});

			$.plot($("#bar_weeks_calories"), data.calories, {
				xaxis : {
					mode : "time",
					minTickSize : [7, "day"],
					tickFormatter:weekTickFormatter,
				},
				series: {
					stack: true,
					bars: { show: true, lineWidth: 0, barWidth: 604800000.0 * 0.8 }	// 604800000 is 7 days in timestamp notation
				},
				grid: {
					show: true,
				},
				legend: {
					show: false,
				}
			});
			
			$.plot($("#bar_weeks_count"), data.count, {
				xaxis : {
					mode : "time",
					minTickSize : [7, "day"],
					tickFormatter:weekTickFormatter,
				},
				series: {
					stack: true,
					bars: { show: true, lineWidth: 0, barWidth: 604800000.0 * 0.8 }	// 604800000 is 7 days in timestamp notation
				},
				grid: {
					show: true,
				},
				legend: {
					show: false,
				}
			});

		}
		
		$.ajax({
			// have to use synchronous here, else the function
			// will return before the data is fetched
			async:false,
			url: bysport_url,
			dataType:"json",
			success: onPieDataReceived
		});
		
		$.ajax({
			async: false,
			url: byweek_url,
			dataType:"json",
			success: onBarDataReceived
		});
	};


	function update_table(data) {
		// update report table with new data
		$("#table_report tbody").empty();
		for(var key in data) {
			var item = data[key];
			if(item['num_activities'] > 0) {

				$("#table_report tbody").append('<tr><td>' + key + '</td><td>' + item['num_activities'] + '</td><td>' + item['total_distance'] + '</td><td>' + item['total_time_str'] + '</td><td>' + item['total_elev_gain'] + '</td><td>' + item['total_calories'] + '</td></tr>');
			}
		}

		var table = $("#table_report");
		/*		table.tablesorter({
		 widgets : ['zebra']
		 });

		 table.trigger("update");
		 table.trigger("appendCache");
		 */
	}
</script>
{% endblock %}
{% block subnavi %} 
<a href="/reports">Sportarten</a>
{% endblock %}

{% block content %}
<div id="timespanform">
	<p>
		<select id="timespan">
			<option value='-1'>Alle Tage</option>
			<option value = '{% now "z" %}'>Aktuelles Jahr</option>
			<option value='7'>Letzte 7 Tage</option>
			<option value='30'>Letzter Monat</option>
			<option value='90' selected>Letzte 3 Monate</option>
			<option value='365'>Letzte 365 Tage</option>
			<option value='-2'>Benutzerdefiniert</option>
		</select>
	</p>
		<div id="custom_timespan" style="display: none">
			<input type="text" id="custom_start_date" /> - <input type="text" id="custom_end_date" />
			<input type="button" id="custom_date_submit" value="Ok"/>
		</div>
	<table>
		<tr>
			<td valign="top">
				{%  if events %}
				<p>
					{% for event in events %}
						<input type="checkbox" class="event_cb" value="{{ event.pk }}" checked>{{ event.name }}<br/>
					{% endfor %}
				</p>
				{%  endif %}
			</td>
			<td valign="top">
				{%  if sports %}
				<p>
					{% for sport in sports %}
						<input type="checkbox" class="sport_cb" value="{{ sport.pk }}" checked>{{ sport.name }}<br/>
					{% endfor %}
				</p>
				{%  endif %}
			</td>
		</tr>
	</table>
</div>
<table>
	<tr>
		<td><div class="plot_container"><h2>Zeit (Gesamt)</h2><div id="pie1" style="width: 400px; height: 300px"></div></div></td>
		<td></td>
	</tr>
	<tr>
		<td><div class="plot_container"><h2>Zeit / Woche</h2><div id="bar_weeks_time" style="width:400px; height: 300px"></div></div></td>
		<td><div class="plot_container"><h2>Kalorien / Woche</h2><div id="bar_weeks_calories" style="width: 400px; height: 300px"></div></div></td>
	</tr>
	<tr>
		<td><div class="plot_container"><h2>Distanz / Woche (km)</h2><div id="bar_weeks_distance" style="width: 400px; height: 300px"></div></div></td>
		<td><div class="plot_container"><h2>Aktivit&auml;ten / Woche</h2><div id="bar_weeks_count" style="width: 400px; height: 300px"></div></div></td>
	</tr>
</table>


<div id="div_report_table">
	<table id="table_report" border=1>
		<thead>
			<tr>
				<th>Sportart</th>
				<th>Anzahl</th>
				<th>Gesamtdistanz</th>
				<th>Dauer</th>
				<th>H&ouml;hengewinn</th>
				<th>Kalorien</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

{% endblock %}
