{% extends "base.html" %}
{% load materializecss %}

{% block title %}Settings{% endblock %}
{% block head %} 
<script type="text/javascript" src="/media/js/colorpicker.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.7/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" type="text/css" href="/media/css/colorpicker.css" />
<link rel="stylesheet" type="text/css" href="/media/css/colorpickerlayout.css" />


<script>
	var equ_id = null;
	var ev_id = null;
	var sp_id = null;
	var cf_id = null;

	var openModal = function(modelName, id){
		if(id != null){
			$("#equipment_add_modal_content").load('/settings/forms/'+modelName+'/' + id);
		} else {
			$("#equipment_add_modal_content").load('/settings/forms/'+modelName);
		}
		$('#equipment_add_modal').openModal();
	};

	$(document).ready(function(){
		$('.modal-trigger').leanModal();

		// FIXME: Check which trigger has been clicked, load appropriate form
		$('.modal-trigger').click(function() {
			var modelName = this.id.split('.')[3];
			openModal(modelName, null);
		});


		var cp = $('#colorpickerHolder2');
		cp.ColorPicker({
			flat: true,
			color: '#00ff00',
			onSubmit: function(hsb, hex, rgb) {
				$('#colorSelector2').find('div').css('backgroundColor', '#' + hex);
			},
			onChange: function (hsb, hex, rgb) {
				$('#colorSelector2').find('div').css('backgroundColor', '#' + hex);
				$("#sport_color_input").val('#' + hex);
			}
		});
		cp.find('>div').css('position', 'absolute');
		var widt = false;
		$('#colorSelector2').bind('click', function() {
			$('#colorpickerHolder2').stop().animate({height: widt ? 0 : 173}, 500);
			widt = !widt;
		});

{#		$( "#tabs" ).tabs();#}

		$( ".datatable").dataTable({
 			"bJQueryUI": true,
			"bFilter": false,
			"bInfo": false,
			"bPaginate": false,
			"oLanguage": {
				"sUrl":   "/media/lang/dataTables.de_DE.txt"
			}
		});
		$( ".datatable_equipment").dataTable({
			"aoColumnDefs": [
				{
					"mRender": function ( data, type, full ) {
						if(type=="display"){
							return secondsToTime(data, true, true);
						} else {
							return data;
						}
					},
					"aTargets": [2]
				},
				{
					"mRender": function ( data, type, full ) {
						if(type=="display"){
							if (data != ""){
								return parseFloat(data).toFixed(2).replace( /\./,"," ) + " km/h";
							} else {
								return "-";
							}
						} else {
							return data;
						}
					},
					"aTargets": [3]
				},
				{
					"mRender": function ( data, type, full ) {
						if(type=="display"){
							if (data != ""){
								return parseFloat(data).toFixed(2).replace( /\./,"," ) + " km";
							} else {
								return "-";
							}
						} else {
							return data;
						}
					},
					"aTargets": [1]
				}
			],
 			"bJQueryUI": true,
			"bFilter": false,
			"bInfo": false,
			"bPaginate": false,
			"oLanguage": {
				"sUrl":   "/media/lang/dataTables.de_DE.txt"
			}
		});

		$( "#sport_dialog" ).dialog({
			autoOpen: false,
			show: "blind",
			hide: "explode",
			minWidth: 600,
			minHeight: 400
		});
		$( "#calformula_dialog" ).dialog({
			autoOpen: false,
			show: "blind",
			hide: "explode",
			minWidth: 600,
			minHeight: 400
		});

{#		$("#event_add").click(function(){showEventDialog();});#}
{#		$("#event_send").click(eventSend);#}
{#		$("#equipment_add").click(function(){showEquipmentDialog();});#}
{#		$("#equipment_send").click(equipmentSend);#}
{#		$("#sport_send").click(sportSend);#}
{#		$("#sport_add").click(function(){showSportDialog();});#}
{#		$("#calformula_add").click(function(){showCalformulaDialog();});#}
{#		$("#calformula_send").click(calformulaSend);#}
{#		#}
{#		$("#acttmp_add").click(function(){showActivityTemplateDialog(null, true);});#}
	});
	
	var get_data = function(url, onDataReceived) {
		$.ajax({
		// have to use synchronous here, else the function
		// will return before the data is fetched
		async:false,
		url: url,
		dataType:"json",
		success: onDataReceived
		});
	};

{#	var showSportDialog = function(sport_id) {#}
{#		function onDataReceived(data) {#}
{#			var fields = data[0].fields;#}
{#			$("#sport_name_input").val(fields.name);#}
{#			if( fields.calorie_formula != null ) {#}
{#				$("#sport_calformula_input").val(fields.calorie_formula);#}
{#			} else {#}
{#				$("#sport_calformula_input").val(-1);#}
{#			}#}
{#			$("#sport_color_input").val(fields.color);#}
{#			$("#sport_speed_as_pace_input").attr('checked', fields.speed_as_pace);#}
{#			$('#colorpickerHolder2').ColorPickerSetColor(fields.color);#}
{#			$('#colorSelector2').find('div').css('backgroundColor', fields.color);#}
{#		}#}
{#		if(typeof(sport_id) != "undefined") {#}
{#			sp_id = sport_id;#}
{#			var url = "/sports/get/?id=" + sport_id;#}
{#			get_data(url, onDataReceived);#}
{#		} else {#}
{#			sp_id = null;#}
{#		}#}
{#		#}
{#		$("#sport_dialog").dialog("open");#}
{#	};#}
{#	#}
{#	var showCalformulaDialog = function(calformula_id){#}
{#		function onDataReceived(data) {#}
{#			var fields = data[0].fields;#}
{#			$("#calformula_name_input").val(fields.name);#}
{#			$("#calformula_wd_input").val(fields.weight_dist_factor);#}
{#			$("#calformula_wt_input").val(fields.weight_time_factor);#}
{#		}#}
{#		if(typeof(calformula_id) != "undefined") {#}
{#			cf_id = calformula_id;#}
{#			var url = "/calformula/get/?id=" + calformula_id;#}
{#			get_data(url, onDataReceived);#}
{#		} else {#}
{#			cf_id = null;#}
{#		}#}
{#		#}
{#		$("#calformula_dialog").dialog("open");#}
{#	};#}
{#	#}
{#	var equipmentSend = function() {#}
{#		var name = $("#equipment_name_input").val();#}
{#		var description = $("#equipment_description_input").val();#}
{#		var distance = $("#equipment_distance_input").val().replace( /,/,"." );#}
{#		var archived;#}
{##}
{#		if ($("#equipment_archived_input:checked").val() != undefined){#}
{#			archived = 1;#}
{#		} else {#}
{#			archived = 0;#}
{#		}#}
{##}
{#		var data = {#}
{#				name: name,#}
{#				description: description,#}
{#				distance: distance,#}
{#				archived: archived#}
{#		};#}
{#		if (equ_id != null){#}
{#			data.update_id = equ_id;#}
{#		}#}
{##}
{#		$.post("/equipments/add/",#}
{#			data, #}
{#			function(data) {#}
{#				$("#equipment_dialog").dialog("close");#}
{#				window.location.reload();#}
{#			}, "json");#}
{#	};#}

{#	var calformulaSend = function() {#}
{#		var name = $("#calformula_name_input").val();#}
{#		var weightDistFactor = $("#calformula_wd_input").val().replace( /,/,"." );#}
{#		var weightTimeFactor = $("#calformula_wt_input").val().replace( /,/,"." );#}
{#		#}
{#		var data = {#}
{#				name: name,#}
{#				weight_dist_factor: weightDistFactor,#}
{#				weight_time_factor: weightTimeFactor#}
{#			};#}
{#		if (cf_id != null) {#}
{#			data.update_id = cf_id;#}
{#		}#}
{#		$.post("/calformula/add/",#}
{#			data, #}
{#			function(data) {#}
{#				$("#event_dialog").dialog("close");#}
{#				window.location.reload();#}
{#			}, "json");#}
{#	};#}
{#		#}
{#	var eventSend = function() {#}
{#		var name = $("#event_name_input").val();#}
{##}
{#		var data = {#}
{#				name: name#}
{#			};#}
{#		if (ev_id != null) {#}
{#			data.update_id = ev_id;#}
{#		}#}
{#		$.post("/events/add/",#}
{#			data, #}
{#			function(data) {#}
{#				$("#event_dialog").dialog("close");#}
{#				window.location.reload();#}
{#			}, "json");#}
{#	}#}
{#;#}
{#	var sportSend = function() {#}
{#		// retrieve the text entered#}
{#		var name = $("#sport_name_input").val();#}
{#		var calformula = $("#sport_calformula_input").val();#}
{#		var color = $("#sport_color_input").val();#}
{#		var speed_as_pace;#}
{##}
{#		if ($("#sport_speed_as_pace_input:checked").val() != undefined){#}
{#			speed_as_pace = 1;#}
{#		} else {#}
{#			speed_as_pace = 0;#}
{#		}#}
{##}
{#		if(name != "") {#}
{#			// store value in data variable#}
{#			var data = {#}
{#				name: name,#}
{#				calformula: calformula,#}
{#				color: color,#}
{#				speed_as_pace: speed_as_pace#}
{#			};#}
{#			if (sp_id != null){#}
{#				data.update_id = sp_id;#}
{#			}#}
{#			$.post("/sports/add/", #}
{#					data, #}
{#					function(data) {#}
{#						$("#sport_dialog").dialog("close");#}
{#						window.location.reload();#}
{#					}, "json");#}
{#		} else {#}
{#			//alert("Enter some text silly!");#}
{#		}#}
{#	};#}

{#	var showCalformulaDeleteDialog = function(calformula_id) {#}
{#		$("#calformula_delete_id_input").val(calformula_id);#}
{#		$("#calformula_delete_dialog").dialog("open");#}
{#	};#}
{#	var showEquipmentDeleteDialog = function(equipment_id) {#}
{#		$("#equipment_delete_id_input").val(equipment_id);#}
{#		$("#equipment_delete_dialog").dialog("open");#}
{#	};#}
{#	var showEventDeleteDialog = function(event_id) {#}
{#		$("#event_delete_id_input").val(event_id);#}
{#		$("#event_delete_dialog").dialog("open");#}
{#	};#}
{#	var showSportDeleteDialog = function(sport_id) {#}
{#		$("#sport_delete_id_input").val(sport_id);#}
{#		$("#sport_delete_dialog").dialog("open");#}
{#	};#}


</script>
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s3"><a class="active" href="#tabs-equipment">Equipment</a></li>
				<li class="tab col s3"><a href="#tabs-events">Events</a></li>
				<li class="tab col s3"><a href="#tabs-templates">Vorlagen</a></li>
				<li class="tab col s3"><a href="#tabs-sports">Sportarten</a></li>
				<li class="tab col s3"><a href="#tabs-calformula">Kalorienformeln</a></li>
			</ul>
		</div>

		<div id="tabs-equipment" class="col s12 card material-table">
			{% if equipments %}
				<table id="equipment_table" class="datatable_equipment ui compact selectable striped celled table raised segment">
					<thead>
					<tr><th>Name</th><th>Distanz</th><th>Zeit</th><th>Geschwindigkeit</th><th></th></tr>
					</thead>
					<tbody>
					{% for equ in equipments %}
						<tr>
							<td>
								{{equ.name}}&nbsp;&nbsp;
							</td>
							<td>{{equ.distance}}</td>
							<td>{{equ.time}}</td>
							<td>{{equ.speed}}</td>
							<td>
								<i class="material-icons" onclick="openModal('equipment', {{equ.id}})">mode_edit</i>
							</td>
						</tr>
					{%endfor %}
					</tbody>
				</table>
			{% else %}
				<p>No equipments are available</p>
			{%endif%}
			<a id="modal.trainingslog.settings.equipment.add" class="waves-effect waves-light btn modal-trigger"><i class="material-icons left">add</i></a>
{#			<a class="waves-effect waves-light btn modal-trigger" href="#equipment_add_modal"><i class="material-icons left">add</i></a>#}

			{% if equipments_archived %}
				<h2>Archiv</h2>
				<table id="equipment_archived_table" class="datatable_equipment ui compact selectable striped celled table raised segment">
					<thead>
					<tr><th>Name</th><th>Distanz</th><th>Zeit</th><th>Geschwindigkeit</th><th></th></tr>
					</thead>
					<tbody>
					{% for equ in equipments_archived %}
						<tr>
							<td>
								{{equ.name}}&nbsp;&nbsp;
							</td>
							<td>{{equ.distance}}</td>
							<td>{{equ.time}}</td>
							<td>{{equ.speed}}</td>
							<td>
								<i class="material-icons" onclick="openModal('equipment', {{equ.id}})">mode_edit</i>
							</td>
						</tr>
					{%endfor %}
					</tbody>
				</table>
			{%endif%}
		</div>

		<div id="tabs-events" class="col s12 card material-table">
			{% if events %}
				<table id="event_table" class="datatable ui compact selectable striped celled table raised segment">
					<thead>
					<tr>
						<th>Name</th><th></th>
					</tr>
					</thead>
					<tbody>
					{% for event in events %}
						<tr>
							<td>
								{{event.name}}
							</td>
							<td>
								<i class="material-icons" onclick="openModal('event', {{event.id}})">mode_edit</i>
							</td>
						</tr>
					{%endfor %}
					</tbody>

				</table>
			{% else %}
				<p>No events are available</p>
			{%endif%}
			<a id="modal.trainingslog.settings.event.add" class="waves-effect waves-light btn modal-trigger" href="#event_add_modal"><i class="material-icons left">add</i></a>
		</div>

		<div id="tabs-templates" class="col s12 card material-table">
			{% if activitytemplates %}
				<table id="activitytemplates_table" class="datatable ui compact selectable striped celled table raised segment">
					<thead>
					<tr>
						<th>Name</th><th></th>
					</tr>
					</thead>
					<tbody>
					{% for acttmp in activitytemplates %}
						<tr>
							<td>
								{{acttmp.name}}
							</td>
							<td>
								<i class="material-icons" onclick="showActivityTemplateDialog({{acttmp.id}}, onlytemplate = true)">mode_edit</i>
							</td>
						</tr>
					{%endfor %}
					</tbody>

				</table>
			{% else %}
				<p>Keine Vorlagen vorhanden</p>
			{%endif%}
			<input type="submit" id="acttmp_add" value="Neue Vorlage...">
		</div>

		<div id="tabs-sports" class="col s12 card material-table">
			{% if sports %}
				<table id="sport_table" class="datatable ui compact selectable striped celled table raised segment">
					<thead>
					<tr>
						<th>Name</th>
						<th>Kalorienberechnung</th>
						<th>Farbe</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{% for sport in sports %}
						<tr>
							<td>
								{{sport.name}}
							</td>
							<td>
								{% if sport.calorie_formula %}
									{{sport.calorie_formula}}
								{% else %}
									-
								{% endif %}
							</td>
							<td>
								<div class="colordisplay">
									<div style="background-color: {{sport.color}}"></div>
								</div>
							</td>
							<td>
								<i class="material-icons" onclick="showSportDialog({{sport.id}})">mode_edit</i>
							</td>
						</tr>
					{%endfor %}

					</tbody>
				</table>
			{% else %}
				<p>Keine Sportarten festgelegt</p>
			{% endif %}
			<input type="submit" id="sport_add" value="Neue Sportart...">
		</div>

		<div id="tabs-calformula" class="col s12 card material-table">
			{% if calformulas %}
				<table id="calories_table" class="datatable ui compact selectable striped celled table raised segment">
					<thead>
					<tr>
						<th>Name</th>
						<th>Formel</th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					{% for calformula in calformulas %}
						<tr>
							<td>
								{{calformula.name}}
{#								<i class="material-icons" onclick="showCalformulaDialog({{calformula.id}})">mode_edit</i>#}
							</td>
							<td>
								kcal =
								{% if calformula.weight_dist_factor != 0 %}
									Distanz x Gewicht x {{calformula.weight_dist_factor}}
									{% if calformula.weight_time_factor != 0 %} + {% endif %}
								{% endif %}
								{% if calformula.weight_time_factor != 0 %}
									Zeit x Gewicht x {{calformula.weight_time_factor}}
								{% endif %}
							</td>
							<td>
{#								<i class="material-icons" onclick="showCalformulaDialog({{calformula.id}})">mode_edit</i>#}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			{% endif %}
			<input type="submit" id="calformula_add" value="Neue Kalorienformel...">
		</div>

	</div>

	<div id="sport_dialog" title="Neue Sportart">
	<table>
		<tr>
			<td><label for="sport_name_input">Name: </label></td><td><input type="text" id="sport_name_input"/></td>
		</tr>
		<tr>
			<td><label for="sport_calformula_input">Kalorienformel</label></td>
			<td>
				<select id="sport_calformula_input">
					<option value = -1> - </option>
					{% for calformula in calformulas %}
						<option value={{calformula.id}}>{{calformula.name}}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Farbe</td>
			<td>
				<p id="colorpickerHolder"></p>
				<div id="customWidget">
					<div id="colorSelector2">
						<div style="background-color: #00ff00"></div>
					</div>
					<div id="colorpickerHolder2"></div>
				</div>
			</td>	
		</tr>
		<tr>
			<td><label for="sport_speed_as_pace_input">Geschwindigkeit als Pace</label></td>
			<td><input type="checkbox" id="sport_speed_as_pace_input"/></td>
		</tr>
	</table>
	<input type="hidden" id="sport_color_input" value = "#00ff00"/>
	<input type="submit" id="sport_send" value="OK">
</div>

<div id="equipment_add_modal" class="modal">
	<div id="equipment_add_modal_content" class="modal-content">
{#		<form action="/settings/" method="post">#}
{#			{% csrf_token %}#}
{#			{{ equipment_form|materializecss}}#}
{#			<input type="submit" value="Submit" />#}
{#		</form>#}
	</div>
</div>

{#<div id="event_add_modal" class="modal">#}
{#	<div class="modal-content">#}
{#		<form action="/settings/" method="post">#}
{#			{% csrf_token %}#}
{#			{{ event_form|materializecss}}#}
{#			<input type="submit" value="Submit" />#}
{#		</form>#}
{#	</div>#}
{#</div>#}

{#<div id="calformula_dialog" title="Neue Kalorienformel">#}
{#	<label for="calformula_name_input">Name: </label><input type="text" id="calformula_name_input"/><br/>#}
{#	<label for="calformula_wd_input">kcal = Distanz x Gewicht x </label><input type="text" id="calformula_wd_input"/> <label for="calformula_wt_input"> + Zeit x Gewicht x </label><input type="text" id="calformula_wt_input"/><br/>#}
{#	<input type="submit" id="calformula_send" value="Speichern"/>#}
{#</div>#}
{##}
{#<div id="equipment_delete_dialog">#}
{#	Equipment wirklich l&ouml;schen?#}
{#	<input id="equipment_delete_id_input" type="hidden" />#}
{#</div>#}
{##}
{#<div id="event_delete_dialog">#}
{#	Event wirklich l&ouml;schen?#}
{#	<input id="event_delete_id_input" type="hidden" />#}
{#</div>#}
{##}
{#<div id="sport_delete_dialog">#}
{#	Sportart wirklich l&ouml;schen?#}
{#	<input id="sport_delete_id_input" type="hidden" />#}
{#</div>#}
{##}
{#<div id="calformula_delete_dialog">#}
{#	Kalorienformel wirklich l&ouml;schen?#}
{#	<input id="calformula_delete_id_input" type="hidden" />#}
{#</div>#}

{#{% include "activities/includes/activity_dialog.html" %}#}

	{% include "activities/includes/materialize_table_js.html" %}
{% endblock %}
