{% extends "base.html" %}

{% block title %}Benutzerprofil{% endblock %}
{% block head %}
<link rel='stylesheet' type='text/css' href='/media/css/jquery.dataTables_themeroller.css'/>
{% endblock %}
{% block content %}
{% if form.errors %}
	<p style="color: red;">
		Please correct the error{{ form.errors|pluralize }} below.
	</p>
{% endif %}
<form action="" method="post">
		<table id="userprofile_table" class="data_table">
		{{ form }}
	</table>
	{% csrf_token %}
	<input type="submit" value="Submit">
</form>
{% endblock %}