<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript" src="/media/js/common.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.22.5/js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqPlot/1.0.8/jquery.jqplot.min.css" />
	<link rel='stylesheet' type='text/css' href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/cupertino/jquery-ui.css' />
	<link rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css'/>

	<link rel="stylesheet" href="/media/css/style.css" />
	{% block head %}{% endblock %}
	<title>{% block title %}TrainingsLog{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
{% if not public %}
    <div id="navi">
        {% block navi %}
        	<a href="/activities/">Aktivit&auml;ten</a>&nbsp;
        	<a href="/calendar/">Kalender</a>&nbsp;
			<a href="/reports/">Berichte</a>&nbsp;
        	<a href="/health/">Gesundheit</a>&nbsp;&nbsp;
			<a href="/settings/">Einstellungen</a>&nbsp;
        {% endblock %}
        <div id="user_logout">
        	{% if username %}
				Angemeldet als <a href="/admin/password_change/">{{username}}</a>&nbsp;
			{% endif %}
			<a href="/accounts/logout">Logout</a>
        </div>
    </div>
	<div id="subnavi">
		{% block subnavi %}{% endblock %}
	</div>
{% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
