<!DOCTYPE html>
<html lang="en">
<head>
	<script type="text/javascript" src="/media/js/common.js"></script>
	<script type="text/javascript" src="/media/js/jquery.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/media/jquery-ui/js/jquery-ui-1.10.1.custom.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.ui.timepicker.js"></script>

	<link rel="stylesheet" type="text/css" href="/media/css/jquery.jqplot.min.css" />
	<link rel='stylesheet' type='text/css' href='/media/jquery-ui/css/cupertino/jquery-ui-1.10.1.custom.min.css' />
	<link rel='stylesheet' type='text/css' href='/media/css/jquery.ui.timepicker.css'/>

	<link rel="stylesheet" href="/media/css/style.css" />
	{% block head %}{% endblock %}
	<title>{% block title %}TrainingsLog{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
{% if not public %}
    <div id="navi">
        {% block navi %}
        	<a href="/activities/">Aktivit&auml;ten</a>&nbsp;
        	<a href="/calendar/">Kalender</a>&nbsp;
			<a href="/reports/">Berichte</a>&nbsp;
        	<a href="/health/">Gesundheit</a>&nbsp;&nbsp;
			<a href="/settings/">Einstellungen</a>&nbsp;
        {% endblock %}
        <div id="user_logout">
        	{% if username %}
				Angemeldet als <a href="/profile/">{{username}}</a>&nbsp;
			{% endif %}
			<a href="/accounts/logout">Logout</a>
        </div>
    </div>
	<div id="subnavi">
		{% block subnavi %}{% endblock %}
	</div>
{% endif %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
