<script>
	showActivityDeleteDialog = function(activity_id, activity_name) {
		$("#activity_delete_id_input").val(activity_id);
		$("#activity_template_delete_id_input").val(null);
		$("#activity_delete_modal_head").html(activity_name);
		$('#activity_delete_modal').openModal();
	};

	var showActivityDialog = function(id){
		if(id != null){
			$("#activity_form_modal_content").load('/forms/activity/' + id + '/');
		} else {
			$("#activity_form_modal_content").load('/forms/activity');
		}
		$('#activity_form_modal').openModal(
		);
	};

</script>

<div id="activity_form_modal" class="modal">
	<div id="activity_form_modal_content" class="modal-content">
	</div>
</div>

<div id="activity_delete_modal" class="modal">
	<div class="modal-content">
		<h4 id="activity_delete_modal_head"></h4>
		<p>Aktivität wirklich löschen?</p>
	</div>
	<input id="activity_delete_id_input" type="hidden" />
	<input id="activity_template_delete_id_input" type="hidden" />
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="activity_delete_modal_ok">OK</a>
		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Abbrechen</a>
	</div>
</div>
