<!-- bring in the OpenLayers javascript library
 (here we bring it from the remote site, but you could
 easily serve up this javascript yourself)
<script src="http://www.openlayers.org/api/OpenLayers.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
<!-- bring in the OpenStreetMap OpenLayers layers.
 Using this hosted file will make sure we are kept up
 to date with any necessary changes -->
<script src="https://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>

<script type="text/javascript">
	// Global variables for plot selection states
	var tooltipsVisible = false;
	var plotselectionActive = false;
	var plotselectionRange = {};
	var startMarker = null;
	var endMarker = null;
	var zoom = false;
	var plotBase = "distance";


	// Global variables
	var plots = {};
	var legends = {};

	var actIsPublic;
	var speedAsPace;
	var speedUnit;

	{% if activity.sport.speed_as_pace %}
		speedAsPace = true;
		speedUnit = "Minuten/km";
	{% else %}
		speedAsPace = false;
		speedUnit = "km/h";
	{% endif %}

	{%	if activity.public %}
		actIsPublic = true;
	{%	else %}
		actIsPublic = false;
	{%	endif %}

	var distanceSuffixFormatter = function(val, axis) {
			if (val >= 1000)
				return (val / 1000).toFixed(axis.tickDecimals) + "km";
			else
				return val.toFixed(axis.tickDecimals) + "m";
		};


{% if tcx %}
	var graphs = [
		{ "name": "hf", "dataname": "hf", "label": "HF", "label_short": "HF", "color": "#FF0000", "rounding": 0, "unit": "/ Minute", "unit_short": "/ min."},
		{ "name": "speed", "dataname": "speed", "label": "Geschwindigkeit", "label_short": "Geschw.", "color": "#0070A3", "rounding": 1, "unit": speedUnit, "unit_short": speedUnit},
		{ "name": "alt", "dataname": "altitude", "label": "Hoehe", "label_short": "Hoehe", "color": "#00FF00", "rounding": 0, "unit": "m", "unit_short": "m"},
		{ "name": "cad", "dataname": "cadence", "label": "Trittfrequenz", "label_short": "Trittfreq.", "color": "#FFBF00", "rounding": 0, "unit": "/ Minute","unit_short": "/ min."},
		{ "name": "stance_time", "dataname": "stance_time", "label": "Bodenkontaktzeit", "label_short": "Bodenkontaktzeit", "color": "rgb(152, 117, 178)", "rounding": 0, "unit": "Millisekunden","unit_short": "ms"},
		{ "name": "vertical_oscillation", "dataname": "vertical_oscillation", "label": "Vertikale Bewegung", "label_short": "Vert. Bewegung", "color": "rgb(152, 117, 178)", "rounding": 0, "unit": "mm","unit_short": "mm"},
		{ "name": "temperature", "dataname": "temperature", "label": "Temperatur", "label_short": "Temperatur", "color": "#FFBF00", "rounding": 1, "unit": "°C","unit_short": "°C"}
	];
{% else %}
	var graphs = [];
{% endif %}

	var detailsEntries = {
		"avg_stance_time": {"label": "Ø Bodenkontaktzeit", "unit": "ms", "rounding": 0},
		"avg_stride_len": {"label": "Ø Schrittlaenge", "unit": "m", "rounding": 2},
		"avg_vertical_oscillation": {"label": "Ø vert. Bewegung", "unit": "mm", "rounding": 0},
		"total_training_effect": {"label": "Trainingseffekt", "unit": "", "rounding": 1}
	};

{%  if gpx_url %}
	function showMapSelection() {
		if(layerMarkers) {
			var size = new OpenLayers.Size(21,25);
			var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
			var startIcon = new OpenLayers.Icon('/media/img/marker-green.png', size, offset);
			var endIcon = new OpenLayers.Icon('/media/img/marker-red.png', size.clone(), offset.clone());
			var startLonLat = new OpenLayers.LonLat(plotDataRaw["pos"][plotselectionRange["edge_samples"][0]][1], plotDataRaw["pos"][plotselectionRange["edge_samples"][0]][0]).transform(new OpenLayers.Projection("EPSG:4326"),detailsMap.getProjectionObject());
			var endLonLat = new OpenLayers.LonLat(plotDataRaw["pos"][plotselectionRange["edge_samples"][1]][1], plotDataRaw["pos"][plotselectionRange["edge_samples"][1]][0]).transform(new OpenLayers.Projection("EPSG:4326"), detailsMap.getProjectionObject());

			// Remove markers from previous selection
			if(startMarker){
				layerMarkers.removeMarker(startMarker);
			}
			if(endMarker){
				layerMarkers.removeMarker(endMarker);
			}
			startMarker = new OpenLayers.Marker(startLonLat,startIcon);
			endMarker = new OpenLayers.Marker(endLonLat,endIcon);
			layerMarkers.addMarker(startMarker);
			layerMarkers.addMarker(endMarker);
		}
		if(layerSelection) {
			// Remove previous selection features
			layerSelection.removeAllFeatures();

			var selectionPoints = plotDataRaw["pos"].slice(plotselectionRange["edge_samples"][0], plotselectionRange["edge_samples"][1]);
			var points = [];
			for(var i in selectionPoints){
				if(selectionPoints.hasOwnProperty(i)){
				var curPoint = new OpenLayers.Geometry.Point(selectionPoints[i][1], selectionPoints[i][0]).transform(new OpenLayers.Projection("EPSG:4326"), detailsMap.getProjectionObject());
				points.push(curPoint);
			}}

			var line = new OpenLayers.Geometry.LineString(points);
			var style = {
				strokeColor: '#0000ff',
				strokeOpacity: 0.5,
				strokeWidth: 10
			};
			var lineFeature = new OpenLayers.Feature.Vector(line, null, style);
			layerSelection.addFeatures([lineFeature]);
		}
	}
{% endif %}

	function showPlotsSelection() {
		for( var graph in graphs )if (graphs.hasOwnProperty(graph)) {
			var plot = plots[graphs[graph]["name"]];
			plot.setSelection({ xaxis: { from: plotselectionRange["xaxis_range"][0], to: plotselectionRange["xaxis_range"][1]}});

			if (zoom) {
				updatePlots(plotselectionRange["xaxis_range"][0], plotselectionRange["xaxis_range"][1])
			}
		}
	}

	function hidePlotsSelection() {
		//deselect range in other graphs
		for (var graph in graphs) if(graphs.hasOwnProperty(graph)){
			var plot = plots[graphs[graph]["name"]];
			plot.clearSelection();
		}
	}


{%  if gpx_url %}
	function hideMapSelection() {
		// Remove markers from map
		if(startMarker){
			layerMarkers.removeMarker(startMarker);
			startMarker = null;
		}
		if(endMarker){
			layerMarkers.removeMarker(endMarker);
			endMarker = null;
		}
		layerSelection.removeAllFeatures();
	}
{% endif %}

	function hideTooltips() {
		// Hide tooltip for each graph
		console.debug("hideTooltips called");
		if(tooltipsVisible) {
			for (var graph in graphs) if(graphs.hasOwnProperty(graph)){
				$("#details_"+graphs[graph]["name"]+"_container").tooltip("option", "disabled", true ).tooltip("close");
			}

			{%  if gpx_url %}
			// Hide map tooltip
			$("#details_map_tooltip").tooltip("option", "disabled", true ).tooltip("close");
			{% endif %}
			tooltipsVisible = false;
		}
	}

	function showTooltips () {
		// Update tooltip text
		var rangeValues;
		var graph;

		for(graph in graphs)if (graphs.hasOwnProperty(graph)) {
			console.debug("showTooltips: update text for graph " + graphs[graph]["dataname"]);
			var text = "";
			rangeValues = rangeData(plotDataRaw[graphs[graph]["dataname"]].slice(plotselectionRange["edge_samples"][0], plotselectionRange["edge_samples"][1]));

			if (rangeValues.min != false && rangeValues.max != false) {
				if (graphs[graph]["name"] == "alt") {
					text = "<tr><td>Min. </td><td>" + rangeValues.min.toFixed(graphs[graph]["rounding"]) + " " + graphs[graph]["unit_short"] + "</td></tr>";
					text = text + "<tr><td>Max. </td><td>" + rangeValues.max.toFixed(graphs[graph]["rounding"]) + " " + graphs[graph]["unit_short"] + "</td></tr>";

					var ascent = rangeValues.last - rangeValues.first;
					var slope = 100 * ascent / Math.sqrt(Math.pow(rangeValues.distance, 2) - Math.pow(ascent, 2));

					text = text + "<tr><td>Diff. </td><td>" + (ascent).toFixed(graphs[graph]["rounding"]) + " " + graphs[graph]["unit_short"] + "</td></tr>";
					text = text + "<tr><td>Avg. </td><td>" + (slope).toFixed(1) + " %</td></tr>";
				} else if (graphs[graph]["unit"] == "Minuten/km") {
					text = "<tr><td>Min. " + "</td><td>" + secondsToTime(rangeValues.min * 60, false, false) + " " + graphs[graph]["unit_short"] + "</td></tr>";
					text = text + "<tr><td>Max. </td><td>" + secondsToTime(rangeValues.max * 60, false, false) + " " + graphs[graph]["unit_short"] + "</td></tr>";
					text = text + "<tr><td>Avg. </td><td>" + secondsToTime(rangeValues.avg * 60, false, false) + " " + graphs[graph]["unit_short"] + "</td></tr>";
				} else {
					text = "<tr><td>Min. </td><td>" + rangeValues.min.toFixed(graphs[graph]["rounding"]) + " " + graphs[graph]["unit_short"] + "</td></tr>";
					text = text + "<tr><td>Max. </td><td>" + rangeValues.max.toFixed(graphs[graph]["rounding"]) + " " + graphs[graph]["unit_short"] + "</td></tr>";
					text = text + "<tr><td>Avg. </td><td>" + rangeValues.avg.toFixed(graphs[graph]["rounding"]) + " " + graphs[graph]["unit_short"] + "</td></tr>";
				}
			}
			$("#details_" + graphs[graph]["name"] + "_container").tooltip("option", "content", "<table>" + text + "</table>");
		}
		{% if gpx_url %}
		text = "<table>";
		for(graph in graphs)if (graphs.hasOwnProperty(graph)) {
			if (plotDataRaw[graphs[graph]["dataname"]].length > plotselectionRange["edge_samples"][1]) {
				rangeValues = rangeData(plotDataRaw[graphs[graph]["dataname"]].slice(plotselectionRange["edge_samples"][0], plotselectionRange["edge_samples"][1]));
				text = text + "<tr><td>Distanz</td><td>" + (rangeValues.distance / 1000).toFixed(2) + " km</td></tr>";
				text = text + "<tr><td>Dauer</td><td>" + secondsToTime((rangeValues.duration / 1000), true, false) + " h</td></tr>";
				if (rangeValues.duration > 0 && rangeValues.distance > 0) {
					if (speedAsPace) {
						text = text + "<tr><td>Ø Geschw.</td><td>" + secondsToTime(rangeValues.duration / rangeValues.distance, false, false) + " min/km</td></tr>";
					} else {
						text = text + "<tr><td>Ø Geschw.</td><td>" + (rangeValues.distance * 3600 / rangeValues.duration).toFixed(1).toString().replace('.', ',') + " km/h</td></tr>";
					}
				}

				break;
			}
		}
		text = text + "</table>";

		var mapTooltip = $("#details_map_tooltip");
		mapTooltip.tooltip("option", "content", text);
		{% endif %}

		// show tooltip
		if(!tooltipsVisible){
			console.debug("showTooltips: show tooltips");
			for(graph in graphs)if (graphs.hasOwnProperty(graph)) {
				$("#details_" + graphs[graph]["name"] + "_container")
						.tooltip("option", "position", { my: "right-10 bottom-25", at: "right bottom", collision: "none" })
						.tooltip("option", "disabled", false )
						.tooltip("open");
			}

			{% if gpx_url %}
			mapTooltip
				.tooltip( "option", "position",  { my: "right-10 bottom-10", at: "right top", collision: "none" })
				.tooltip("option", "disabled", false )
				.tooltip("open");
			{% endif %}

			tooltipsVisible = true;
		} else {
			console.debug("showTooltips: tooltips are already visible");
		}
	}

	$(document).ready(function() {
		{% if gpx_url %}
			initMap();
		{% endif %}
		$( "#details_tabs" ).tabs({
			activate: function(event ,ui){
				// hide tooltips when switching to laps tab
				plotLockSelectionCB = true;
				if(ui.newTab.index() == 1 && tooltipsVisible){
					hideTooltips();
				}
				//show tooltips when switching to details tab, restore selection in plots
				if(ui.newTab.index() == 0 && plotselectionActive){
					showTooltips();
					showPlotsSelection();
				}
				plotLockSelectionCB = false;
			}
		});

{% if tcx %}
		$( "#plot_xaxis").change(plotXaxisChanged);
		$( "#plot_zoom").click(plotZoomClicked);
		$( "#plot_reset_zoom").click(plotResetZoomClicked);
		plotGraphs();
{% endif %}
	});

{% if tcx %}
	plot_data = {};
	var plotDataRaw;
	var plotLockSelectionCB = false;
	var plotGraphs = function() {
		var url = "/activities/{{ activity.id }}/?p=plots";

		function onDataReceived(data) {
			plotDataRaw = data["plot_data"];
			var detailsData = data["details_data"];
			$("#spinning_icon").hide();
			for(var detailName in detailsData) if(detailsData.hasOwnProperty(detailName)){
				if(detailName in detailsEntries){
					$("#activity_details_table").find("> tbody").append('<tr><td>'+detailsEntries[detailName]['label']+'</td><td>' + detailsData[detailName].toFixed(detailsEntries[detailName]["rounding"]) + ' ' + detailsEntries[detailName]['unit'] + '</td></tr>');
				} else {
					console.debug("Unknown detail entry: " + detailName);
				}
			}

			for(var graph in graphs)if (graphs.hasOwnProperty(graph)) {
				var dataname = graphs[graph]["dataname"];
				if (plotDataRaw[dataname].length > 0) {
					var first = plotDataRaw[dataname][0];
					var last = plotDataRaw[dataname][plotDataRaw[dataname].length - 1];

					// check if position value increases, otherwise use time as plot base
					if (first[0] == last[0]) {
						plotBase = "time";
						$("#plot_xaxis").val(1);
					}
					break;
				}
			}

			updatePlots();
			$("#plotbase_form").show();

		}


		$.ajax({
			async : true,
			url : url,
			dataType : "json",
			success : onDataReceived
		});

	};

	var rangeData = function(data){
		var min = false;
		var max = false;
		var avg = false;
		var lastTimeStamp = false;
		var avgCount = 0;
		for(var i in data){
			if(data.hasOwnProperty(i)){
				var x = data[i][1];
				var y= data[i][2];

				// calculation of min/max
				if(min == false || min > y)
					min = y;
				if( max == false || max < y)
					max = y;

				// calculation of average
				if(lastTimeStamp != false ) {
					avg = avg + y * (x - lastTimeStamp)/1000;
					avgCount = avgCount + (x - lastTimeStamp)/1000;
					lastTimeStamp = x;
				} else {
					// first sample...
					lastTimeStamp = x;
					avg = y;
				}
			}
		}

		if(avgCount > 0) {
			avg = avg / avgCount;
		}

		var res = {};
		res.min = min;
		res.max = max;
		res.avg = avg;
		res.first = data[0][2];
		res.last = data[data.length - 1][2];
		res.duration = data[data.length - 1][1] - data[0][1];
		res.distance = data[data.length - 1][0] - data[0][0];
		return res;
	};

	var rangeEdgeSamples = function(rangeMin, rangeMax) {
		// find index of first and last sample in selection range
		var i;
		var rangeStart, rangeEnd;

		for(var graph in graphs){
			if(graphs.hasOwnProperty(graph)){
				var dataname = graphs[graph]["dataname"];
				if(plotDataRaw[dataname].length > 0){
					for(i in plotDataRaw[dataname]) if(plotDataRaw[dataname].hasOwnProperty(i)){
						var sample = plotDataRaw[dataname][i];
						if(plotBase == "distance" ){
							if( sample[0] >= rangeMin ) {
								rangeStart = i;
								break;
							}
						} else {
							if( sample[1] >= rangeMin ) {
								rangeStart = i;
								break;
							}
						}
					}
					for(i in plotDataRaw[dataname]) if(plotDataRaw[dataname].hasOwnProperty(i)){
						sample = plotDataRaw[dataname][i];
						if(plotBase == "distance" ){
							if( sample[0] >= rangeMax ) {
								rangeEnd = i;
								break;
							}
						} else {
							if( sample[1] >= rangeMax ) {
								rangeEnd = i;
								break;
							}
						}
					}
					break;
				}
			}
		}
		return [rangeStart, rangeEnd]
	};

	var updatePlots = function(xmin, xmax) {
		console.debug("updatePlots called");
		function cloneObject(obj) {
			var clone = {};
			for(var i in obj) if (obj.hasOwnProperty(i)) {
				if (typeof(obj[i]) == "object")
					clone[i] = cloneObject(obj[i]);
				else
					clone[i] = obj[i];
			}
			return clone;
		}

		var data = plotDataRaw;

		var plotDefaultOptions = {
			xaxis : {
				tickDecimals: "1",
				tickFormatter: distanceSuffixFormatter,
				min: xmin,
				max: xmax
			},
			crosshair : {
				mode : "x"
			},
			grid : {
				hoverable : true,
				autoHighlight : false
			},
			selection: { mode: "x" }
		};
		var pacePlot = {
			transform: function(v) { return -Math.log(v); },
			inverseTransform: function (v) { return Math.exp(-v); },
			ticks: function (axis) {
				var res = [], i = Math.floor(axis.min);
				do {
					res.push([i,secondsToTime(i*60, false, false)]);
					i=i+0.5;
				} while (i<axis.max);
				return res;
			}
		};

		for (var i in graphs) {
			if (graphs.hasOwnProperty(i)) {
			plot_data[graphs[i]["name"]] = {};
			plot_data[graphs[i]["name"]]["label"]=graphs[i]["label"]+" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "+graphs[i]["unit"];
			plot_data[graphs[i]["name"]]["lines"]={"show": true, "lineWidth": 1, "fill": 0.2};
			plot_data[graphs[i]["name"]]["points"]={"show": false};
			plot_data[graphs[i]["name"]]["color"]=graphs[i]["color"];

			var graphdata;

			if(data[graphs[i]["dataname"]].length != 0) {
				var gdata=transpose(data[graphs[i]["dataname"]]);
				if(plotBase == "time"){
					graphdata=transpose([gdata[1], gdata[2]]);
					plot_data[graphs[i]["name"]]["data"]=graphdata;

					plotDefaultOptions["xaxis"] = {
						min: xmin,
						max: xmax,
						mode: "time",
						timeformat: "%H:%Mh"
					};
				} else {
					graphdata=transpose([gdata[0], gdata[2]]);
					plot_data[graphs[i]["name"]]["data"]=graphdata;
					plotDefaultOptions["xaxis"] = {
						min: xmin,
						max: xmax,
						tickDecimals: "1",
						tickFormatter: distanceSuffixFormatter
					}
				}
				$("#details_"+graphs[i]["name"]).show();

				var plotOptions = cloneObject(plotDefaultOptions);

				if (typeof xmin !== "undefined" && typeof xmax !== "undefined") {
					var rangeValues = rangeData(plotDataRaw[graphs[i]["dataname"]].slice(plotselectionRange["edge_samples"][0], plotselectionRange["edge_samples"][1]));
				} else {
					var rangeValues = rangeData(plotDataRaw[graphs[i]["dataname"]]);
				}
				plotOptions["yaxis"]={};
				var min = rangeValues.min;
				var max = rangeValues.max;
				var avg = rangeValues.avg;
				var ymin = Math.floor(min);
				var ymax;
				switch (graphs[i]["name"]) {
					case "speed":
						if (speedAsPace) {
							console.debug("Pace plot with speed as pace set");
							plotOptions["yaxis"] = pacePlot;
							ymax = Math.floor(1.5 * avg);
							break;
						} else {
							ymax = Math.ceil(1.1*max);
						}
						break;
					case "cad":
						if (speedAsPace) {
							console.debug("Cadence plot for run detected");
							ymin = 60;
							ymax = 120;
							plot_data[graphs[i]["name"]]["color"] = "rgb(152, 117, 178)";

							plot_data[graphs[i]["name"]]["points"] = {"show": true, "radius": 1};
							plot_data[graphs[i]["name"]]["lines"] = {"show": false};
							plot_data[graphs[i]["name"]]["threshold"] = [
								{below: 151 / 2, color: "rgb(223, 39, 39)"},
								{below: 163 / 2, color: "rgb(235, 132, 87)"},
								{below: 174 / 2, color: "rgb(149, 204, 119)"},
								{below: 185 / 2, color: "rgb(134, 207, 214)"},
								{above: 186 / 2, color: "rgb(152, 117, 178)"}
							];
							break;
						} else {
							ymax = Math.ceil(1.1 * max);;
						}
						break;
					case "stance_time":
						ymin = 120;
						ymax = 350;
						plot_data[graphs[i]["name"]]["points"] = {"show": true, "radius": 1};
						plot_data[graphs[i]["name"]]["lines"] = {"show": false};
						plot_data[graphs[i]["name"]]["threshold"] = [
							{below: 208, color: "rgb(152, 117, 178)"},
							{below: 240, color: "rgb(134, 207, 214)"},
							{below: 272, color: "rgb(149, 204, 119)"},
							{below: 305, color: "rgb(235, 132, 87)"},
							{above: 305, color: "rgb(223, 39, 39)"},
						];
						break;
					case "vertical_oscillation":
						ymin = 50;
						ymax = 150;
						plot_data[graphs[i]["name"]]["legend"] = {"show": false};
						plot_data[graphs[i]["name"]]["points"] = {"show": true, "radius": 1};
						plot_data[graphs[i]["name"]]["lines"] = {"show": false};
						plot_data[graphs[i]["name"]]["threshold"] = [
							{below: 67, color: "rgb(152, 117, 178)"},
							{below: 84, color: "rgb(134, 207, 214)"},
							{below: 101, color: "rgb(149, 204, 119)"},
							{below: 118, color: "rgb(235, 132, 87)"},
							{above: 118, color: "rgb(223, 39, 39)"},
						];
						break;
					default:
						ymax = Math.ceil(1.1 * max);
						break;
				}
				console.debug("Rescaling plot " + graphs[i]["name"] + " y axis to min/max " + ymin + "/" + ymax);
				plotOptions["yaxis"]["min"] = ymin;
				plotOptions["yaxis"]["max"] = ymax;

				plots[graphs[i]["name"]]= $.plot($("#details_"+graphs[i]["name"]+"_container"), [plot_data[graphs[i]["name"]]], plotOptions);
				legends[graphs[i]["name"]] = $("#details_"+graphs[i]["name"]+"_container .legendLabel");
				legends[graphs[i]["name"]].each(function() {
					$(this).css('width', $(this).width());
				});
			} else {
				plot_data[graphs[i]["name"]]["data"] = [];
				$("#details_"+graphs[i]["name"]).hide();

				// Delete entry from graph list for non-existing graphs
				delete graphs[i];
			}
		}}

		var updateCursorTimeout = null;
		var latestPosition = null;
		var cursorMarker = null;

		function updateCursorPlot(graph, xpos) {
			// go through all datasets and find the nearest point
			var graph_name = graphs[graph]["name"];
			plot = plots[graph_name];
			legend = legends[graph_name];

			dataset = plot.getData();
			var series, newvalue;
			for (i = 0; i < dataset.length; ++i) {
				series = dataset[i];
				// skip parsing of empty datasets created by threshold graphs
				if (series.data.length==0) continue;
{#				console.debug("updateCursorPlot: Parsing dataset series " + i);#}
				// find the nearest points, x-wise
				for (j = 0; j < series.data.length; ++j) {
					if (series.data[j]) {
						if (series.data[j][0] > xpos) {
							break;
						}
					}
				}
				// now interpolate
				var y, posA = series.data[j - 1], posB = series.data[j];
				if (posA == null)
					y = posB[1];
				else if (posB == null)
					y = posA[1];
				else
					y = posA[1] + (posB[1] - posA[1]) * (xpos - posA[0]) / (posB[0] - posA[0]);
				if (graphs[graph]["unit"] == "Minuten/km") {
					newvalue = secondsToTime(y * 60, false, false);
				} else {
					newvalue = y.toFixed(graphs[graph]["rounding"]);
				}
{#				console.debug("updateCursorPlot: setting new value " + newvalue + " on legend for graph named " + graph_name);#}
				legend.eq(i).text(graphs[graph]["label"] + " " + newvalue + " " + graphs[graph]["unit"]);
			}
		}

		function updateCursor() {
			updateCursorTimeout = null;
			var pos = latestPosition;
			var graph, plot, legend;

			var i, j, dataset;
			if (pos) {
				{%  if gpx_url %}
				var sample = rangeEdgeSamples(pos.x, pos.x)[0];
				if( sample !== undefined ) {
					if(cursorMarker) {
						layerCursor.removeMarker(cursorMarker);
					}
					var size = new OpenLayers.Size(21,25);
					var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
					var cursorIcon = new OpenLayers.Icon('/media/img/marker-blue.png', size, offset);
					var cursorLonLat = new OpenLayers.LonLat(plotDataRaw["pos"][sample][1], plotDataRaw["pos"][sample][0]).transform(new OpenLayers.Projection("EPSG:4326"),detailsMap.getProjectionObject());
					cursorMarker = new OpenLayers.Marker(cursorLonLat,cursorIcon);
					layerCursor.addMarker(cursorMarker);
				}
				{% endif %} //gpx_url
				for (graph in graphs) {
					if(graphs.hasOwnProperty(graph)) {
						var graph_name = graphs[graph]["name"];
						plot = plots[graph_name];
						// legend = legends[graph_name];

						plot.setCrosshair(pos);
						var axes = plot.getAxes();
						if (pos.x < axes.xaxis.min || pos.x > axes.xaxis.max)
							continue;
						updateCursorPlot(graph, pos.x);
					}
				}
			} else {
				{%  if gpx_url %}
				if(cursorMarker) {
					layerCursor.removeMarker(cursorMarker);
				}
				{% endif %}
				for (graph in graphs) {
					if(graphs.hasOwnProperty(graph)){
						plot = plots[graphs[graph]["name"]];
						legend = legends[graphs[graph]["name"]];

						plot.clearCrosshair();

						i, j, dataset = plot.getData();
						for( i = 0; i < dataset.length; ++i) {
							legend.eq(i).text(graphs[graph]["label"]+" "+graphs[graph]["unit"]);
						}
					}
				}
			}
		}

		for (var graph in graphs) if(graphs.hasOwnProperty(graph)) {
			// Add tooltip
			var graphcontainer = $("#details_"+graphs[graph]["name"]+"_container");
			graphcontainer.tooltip({
					disabled: true,
					position: { my: "right-10 bottom-25", at: "right bottom", collision: "none" },
					tooltipClass: "details_plot_tooltip"
			});
			graphcontainer.bind("plothover", function(event, pos, item) {
				latestPosition = pos;
				if(!updateCursorTimeout)
					updateCursorTimeout = setTimeout(updateCursor, 50);
			});
			graphcontainer.bind('mouseleave', function(event) {
				latestPosition = null;
				updateCursor();
				event.stopImmediatePropagation();
			});
			graphcontainer.bind("plotselected", function (event, ranges) {
				if (plotLockSelectionCB==false){
					plotLockSelectionCB = true;
					plotselectionActive = true;
					plotselectionRange["xaxis_range"] = [ranges.xaxis.from, ranges.xaxis.to];
					plotselectionRange["edge_samples"] = rangeEdgeSamples(ranges.xaxis.from, ranges.xaxis.to);

					{%  if gpx_url %}
					showMapSelection();
					{% endif %}
					showPlotsSelection();
					showTooltips();

					plotLockSelectionCB = false;
				}
			});

			graphcontainer.bind("plotunselected", function (event) {
				plotUnselect();
			});
		}
		return data;
	};


	{%  if gpx_url %}
	var map; //complex object of type OpenLayers.Map
	var detailsMap;
	var layerMarkers;
	var layerCursor;
	var layerSelection;
	var cursorMarker;

	var initMap = function () {
		console.debug("initMap");
		detailsMap = new OpenLayers.Map ("details_map_container", {
			controls:[
				new OpenLayers.Control.Navigation(),
				new OpenLayers.Control.PanZoomBar(),
				new OpenLayers.Control.LayerSwitcher(),
				new OpenLayers.Control.Attribution()],
			maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
			maxResolution: 156543.0399,
			numZoomLevels: 19,
			units: 'm',
			projection: new OpenLayers.Projection("EPSG:900913"),
			displayProjection: new OpenLayers.Projection("EPSG:4326")
		} );

		populateMap(detailsMap);

		$("#details_map_tooltip").tooltip({
			disabled: true,
			tooltipClass: "details_plot_tooltip"
		});
	};

	var populateMap = function(map) {
		// Define the map layer
		// Here we use a predefined layer that will be kept up to date with URL changes
		var layerMapnik = new OpenLayers.Layer.OSM("Mapnik");
		var layerCycleMap = new OpenLayers.Layer.OSM("OpenCycleMap",
				  ["http://a.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
				   "http://b.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png",
				    "http://c.tile.opencyclemap.org/cycle/${z}/${x}/${y}.png"]);
		layerMarkers = new OpenLayers.Layer.Markers("Markers");
		layerCursor = new OpenLayers.Layer.Markers("Cursor");
		layerSelection = new OpenLayers.Layer.Vector("Selection");
		map.addLayer(layerMapnik);
		map.addLayer(layerCycleMap);

		startMarker = null;
		endMarker = null;
		cursorMarker = null;

		// Add the Layer with the GPX Track
		var layerGPX = new OpenLayers.Layer.Vector("Track", {
			protocol: new OpenLayers.Protocol.HTTP({
				url: "{{ gpx_url }}",
				format: new OpenLayers.Format.GPX({extractWaypoints: true, extractRoutes: true, extractAttributes:true})
			}),
			strategies: [ new OpenLayers.Strategy.Fixed()],
			style: {strokeColor: "red", strokeWidth: 5, strokeOpacity: 0.5},
			projection: new OpenLayers.Projection("EPSG:4326")
		});
		map.addLayer(layerGPX);

		map.addLayer(layerSelection);
		map.addLayer(layerMarkers);
		map.addLayer(layerCursor);

//		var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
//		map.setCenter(lonLat, zoom);
		layerGPX.events.register('loadend', detailsMap, function(){
			this.zoomToExtent(layerGPX.getDataExtent())
		});
		map.setCenter(null, null);

		// show map
		$("#details_map_container").css('visibility', 'visible');
	};
	{% endif %} // gpx_url

{% endif %}


	var plotXaxisChanged = function () {
		if( $("#plot_xaxis").val() == 0) {
			plotBase = "distance";
		} else {
			plotBase = "time"
		}
		// FIXME: Remember current selection and restore after change
		hideTooltips();
		{%  if gpx_url %}
		hideMapSelection();
		{% endif %}
		updatePlots();
	};

	var plotZoomClicked = function() {
		if(plotselectionActive){
			hideTooltips();
			{%  if gpx_url %}
			hideMapSelection();
			{% endif %}
			updatePlots(plotselectionRange["xaxis_range"][0], plotselectionRange["xaxis_range"][1]);
			$("#plot_reset_zoom").css('visibility', 'visible');
		} else {
			updatePlots();
			$("#plot_reset_zoom").css('visibility', 'hidden');
		}
	};

	var plotResetZoomClicked = function() {
		plotUnselect();
		updatePlots();
		$("#plot_reset_zoom").css('visibility', 'hidden');
	};

	var plotUnselect = function() {
		if (plotLockSelectionCB == false ) {
			plotLockSelectionCB = true;
			plotselectionActive = false;

			{%  if gpx_url %}
				hideMapSelection();
			{% endif %}
			hidePlotsSelection();
			hideTooltips();
			plotLockSelectionCB = false;
		}
	}
</script>

{% if not public %}
	{% if fb_app_id %}
		<script>
			window.fbAsyncInit = function() {
				// init the FB JS SDK
				FB.init({
					appId: "{{fb_app_id}}",
					status : false // check the login status upon init?
				});
			};

			var postToFeed = function() {
				if( actIsPublic ){
					var desc = [];
					{% if activity.time %}
					desc.push('Zeit: {{ activity.time }}');
					{% endif %}
									{% if activity.distance %}
									desc.push('Distanz: {{ activity.distance }} km');
									{% endif %}
									{% if activity.speed_avg  %}
									desc.push('Geschwindigkeit Ø: {{ activity.speed_avg }} '+speedUnit);
									{% endif %}
									{% if activity.hf_avg  %}
									desc.push('HF Ø: {{ activity.hf_avg }}');
									{% endif %}
									{% if activity.calories	 %}
									desc.push('Kalorien: {{ activity.calories }}');
									{% endif %}


					var obj = {
						method: 'feed',
						link: '{{ full_url }}',
						name: '{{ activity.name }}',
						{% if activity.comment	%}
						caption: '{{ activity.comment|linebreaksbr }}',
						{% else %}
						caption: ' ',
						{% endif %}
						picture: '{{ preview_img }}',
						description: desc.join(" - ")
					};


					function callback(response) {
						document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
					}

					FB.ui(obj, callback);
				} else {
					noty({text: "Aktivit&auml;t ist nicht &ouml;ffentlich", type: 'error', timeout: 5000});
				}
			};

		// Load the SDK's source Asynchronously
		// Note that the debug version is being actively developed and might
		// contain some type checks that are overly strict.
		// Please report such bugs using the bugs tool.
		(function(d, debug){
			var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement('script'); js.id = id; js.async = true;
			js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
			ref.parentNode.insertBefore(js, ref);
		}(document, /*debug*/ false));
		</script>

	{% endif %}
{% endif %}
