<!-- bring in the OpenLayers javascript library
 (here we bring it from the remote site, but you could
 easily serve up this javascript yourself) 
<script src="http://www.openlayers.org/api/OpenLayers.js"></script> -->
<script src="/media/js/openlayers/OpenLayers.js"></script>
<!-- bring in the OpenStreetMap OpenLayers layers.
 Using this hosted file will make sure we are kept up
 to date with any necessary changes -->
<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>

<script type="text/javascript">
	{% if activity.sport.speed_as_pace %}
		var speed_as_pace = true;
		var speed_unit = "Minuten/km";
	{% else %}
		var speed_as_pace = false;
		var speed_unit = "km/h";
	{% endif %}
	
	var distanceSuffixFormatter = function(val, axis) {
			if (val > 1000)
				return (val / 1000).toFixed(axis.tickDecimals) + "km";
			else
				return val.toFixed(axis.tickDecimals) + "m";
		};

{% if tcx %}
        var graphs = [
               { "name": "hf", "dataname": "hf", "label": "HF", "rounding": 0, "unit": "/ Minute"},
               { "name": "speed", "dataname": "speed", "label": "Geschwindigkeit", "rounding": 1, "unit": speed_unit},
               { "name": "alt", "dataname": "altitude", "label": "Hoehe", "rounding": 0, "unit": "m"},
               { "name": "cad", "dataname": "cadence", "label": "Trittfrequenz", "rounding": 0, "unit": "/ Minute"}
           ];	
{% else %}
	var graphs = [];
}
console.debug("Graph is now "+graphs);
{% endif %}

	$(document).ready(function() {
		$( "#details_overview" ).accordion({collapsible: true});
		$( "#details_details" ).accordion({collapsible: true});
		$( "#laps_laps").accordion();
		$( "#details_tabs" ).tabs();
{% if tcx %}
		$( "#details_map" ).accordion({collapsible: true});
		for (var i in graphs) {
			$( "#details_"+graphs[i]["name"] ).accordion({collapsible: true});
		}
		init_map();
		plot_graphs();
{% endif %}
	});

{% if tcx %}
	plot_data = new Object();
	var plot_graphs = function() {
		var url = "/activities/{{ activity.id }}/?p=plots";
	function cloneObject(obj) {
        	var clone = {};
        	for(var i in obj) {
            	if(typeof(obj[i])=="object")
                	clone[i] = cloneObject(obj[i]);
            	else
                	clone[i] = obj[i];
        	}
        	return clone;
    	}
	function ticks_generator_pace(axis) {
		return secondsToTime(axis*60, with_hours=false);
	}

		function onDataReceived(data) {
			console.log("onDataReceived called graphs is "+graphs);
			for (i in graphs) {
				plot_data[graphs[i]["name"]]=new Object();
				plot_data[graphs[i]["name"]]["data"]=data[graphs[i]["dataname"]];
				plot_data[graphs[i]["name"]]["label"]=graphs[i]["label"]+" &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "+graphs[i]["unit"];
				plot_data[graphs[i]["name"]]["lines"]={"show": true, "lineWidth": 1, "fill": 0.2};
				plot_data[graphs[i]["name"]]["points"]={"show": false};
				plot_data[graphs[i]["name"]]["color"]="#0070A3";
				if (plot_data[graphs[i]["name"]].length == 0) {
					$("#details_"+graphs[i]["name"]).hide();
				}
			}
			plot_default_options = {
				xaxis : {
					tickDecimals: "1",
					tickFormatter: distanceSuffixFormatter
				},
				crosshair : {
					mode : "x"
				},
				grid : {
					hoverable : true,
					autoHighlight : false
				},
				selection: { mode: "x" }
			}

			pace_plot = {
				transform: function(v) { return -v; },
				inverseTransform: function (v) { return -v; },
				ticks: function (axis) {
					var res = [], i = Math.floor(axis.min);
					do {
						res.push([i,secondsToTime(i*60, with_hours=false)]);
						i=i+0.5;
					} while (i<axis.max);
					return res;
				},
				min: 2,
				max: 8
			}
				
			var plots = new Object();
			var legends = new Object();
			for (var i in graphs) {
				plot_options = cloneObject(plot_default_options);

				if ((graphs[i]["name"]=="speed") && speed_as_pace) {
					plot_options["yaxis"]=pace_plot;
				}
				plots[graphs[i]["name"]]= $.plot($("#details_"+graphs[i]["name"]+"_container"), [plot_data[graphs[i]["name"]]], plot_options);
				legends[graphs[i]["name"]] = $("#details_"+graphs[i]["name"]+"_container .legendLabel");
				legends[graphs[i]["name"]].each(function() {
					$(this).css('width', $(this).width());
				});
			}
			
			var updateLegendTimeout = null;
			var latestPosition = null;

			function updateLegend() {
				updateLegendTimeout = null;

				var pos = latestPosition;
				
				for (var graph in graphs) {
					plot = plots[graphs[graph]["name"]];
					legend = legends[graphs[graph]["name"]];

					plot.setCrosshair(pos);
					axes = plot.getAxes();
					if(pos.x < axes.xaxis.min || pos.x > axes.xaxis.max)
						continue;

					var i, j, dataset = plot.getData();
					for( i = 0; i < dataset.length; ++i) {
						var series = dataset[i];

						// find the nearest points, x-wise
						for( j = 0; j < series.data.length; ++j)
							if(series.data[j][0] > pos.x)
								break;

						// now interpolate
						var y, p1 = series.data[j - 1], p2 = series.data[j];
						if(p1 == null)
							y = p2[1];
						else if(p2 == null)
							y = p1[1];
						else
							y = p1[1] + (p2[1] - p1[1]) * (pos.x - p1[0]) / (p2[0] - p1[0]);
						if (graphs[graph]["unit"]=="Minuten/km") {
							newvalue = secondsToTime(y*60, with_hours=false);
						} else {
							newvalue = y.toFixed(graphs[graph]["rounding"]);
						}
						legend.eq(i).text(graphs[graph]["label"]+" "+newvalue+" "+graphs[graph]["unit"]);
					}
				}
			}
			for (var graph in graphs) {
				$("#details_"+graphs[graph]["name"]+"_container").bind("plothover", function(event, pos, item) {
					latestPosition = pos;
					if(!updateLegendTimeout)
						updateLegendTimeout = setTimeout(updateLegend, 50);
				});
			}
			return data;

		}
		$.ajax({
			// have to use synchronous here, else the function
			// will return before the data is fetched
			async : false,
			url : url,
			dataType : "json",
			success : onDataReceived
		});

	};
	
	// Start position for the map (hardcoded here for simplicity,
	// but maybe you want to get this from the URL params)
	var lat=50.626844941
	var lon=6.550658997
	var zoom=13

	var map; //complex object of type OpenLayers.Map

	var init_map = function () {
		details_map = new OpenLayers.Map ("details_map_container", {
			controls:[
				new OpenLayers.Control.Navigation(),
				new OpenLayers.Control.PanZoomBar(),
				new OpenLayers.Control.LayerSwitcher(),
				new OpenLayers.Control.Attribution()],
			maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
			maxResolution: 156543.0399,
			numZoomLevels: 19,
			units: 'm',
			projection: new OpenLayers.Projection("EPSG:900913"),
			displayProjection: new OpenLayers.Projection("EPSG:4326")
		} );
		
		populate_map(details_map);
	}
	
	var populate_map = function(map) {
		// Define the map layer
		// Here we use a predefined layer that will be kept up to date with URL changes
		layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
		map.addLayer(layerMapnik);
		layerCycleMap = new OpenLayers.Layer.OSM.CycleMap("CycleMap");
		map.addLayer(layerCycleMap);
		layerMarkers = new OpenLayers.Layer.Markers("Markers");
		map.addLayer(layerMarkers);

		// Add the Layer with the GPX Track
		{%  if tcx %}
		var lgpx = new OpenLayers.Layer.GML("Track", "{{ tcx.url }}.gpx", {
			format: OpenLayers.Format.GPX,
			style: {strokeColor: "red", strokeWidth: 5, strokeOpacity: 0.5},
			projection: new OpenLayers.Projection("EPSG:4326")
		});
		map.addLayer(lgpx);
		{% endif %}
		var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
		map.setCenter(lonLat, zoom);
		lgpx.events.register('loadend', details_map, function(){this.zoomToExtent(lgpx.getDataExtent())});
		map.setCenter(null, null);

		var size = new OpenLayers.Size(21, 25);
		var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
		var icon = new OpenLayers.Icon('http://www.openstreetmap.org/openlayers/img/marker.png',size,offset);
	}
{% endif %}
</script>

{% if not public %}
	{% if fb_app_id %}
		<script>
			window.fbAsyncInit = function() {
				// init the FB JS SDK
				FB.init({
					appId: "{{fb_app_id}}",
					status : false, // check the login status upon init?
				});
			};
		
			var postToFeed = function() {
				var obj = {
					method: 'feed',
					link: '{{ full_url }}',
					name: '{{ activity.name }}',
					caption: '{{ activity.comment|linebreaksbr }}',
					picture: '{{ preview_img }}',
					description: '',
				};
			
				function callback(response) {
					document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
				}
				
				FB.ui(obj, callback);
			};
		
		  // Load the SDK's source Asynchronously
		  // Note that the debug version is being actively developed and might 
		  // contain some type checks that are overly strict. 
		  // Please report such bugs using the bugs tool.
		  (function(d, debug){
		     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
		     if (d.getElementById(id)) {return;}
		     js = d.createElement('script'); js.id = id; js.async = true;
		     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
		     ref.parentNode.insertBefore(js, ref);
		   }(document, /*debug*/ false));
		</script>

	{% endif %}
{% endif %}
