{% extends "base_m.html" %}

{% block head %}
<script type="text/javascript" src="/media/js/flot/jquery.flot.min.js"></script>
	<style>
		label.error {
				color: red;
				font-size: 16px;
				font-weight: normal;
				line-height: 1.4;
				margin-top: 0.5em;
				width: 100%;
				float: none;
		}
	</style>
{% endblock %}
{% block content %}

<div data-role="page" id="health_page">

	<script>
	var plot = null;
	var series;
	var weight_data = null;
	$("#health_page").on('pageinit', function() {
		$.ajax({
			// have to use synchronous here, else the function
			// will return before the data is fetched
			async : false,
			url : "/health/data/?timespan=31",
			dataType : "json",
			success : onDataReceived
		});
	});
	</script>
{% include "health/includes/weight_plot_js.html" %}

	<div data-role="header">
		<a href="#navpanel" data-role="button" data-inline="true" data-mini="true">Men&uuml;</a>
		<h1 id="act_list_header">Gesundheit</h1>
		<div class="ui-btn-right" data-role="controlgroup" data-type="horizontal">
			<a href="#new_weight_page" data-rel="dialog" data-theme="c" data-role="button" data-icon="plus">Gewicht</a>
			<a href="#new_pulse_page" data-rel="dialog" data-theme="c" data-role="button" data-icon="plus">Puls</a>
		</div>
	</div>

	<div data-role="content">
			<div id="placeholder" style="width:600px;height:300px;margin:5px;"></div>
	</div>
	{% include "activities/includes/navpanel.html" %}
</div>

<div data-role="page" id="new_weight_page">
	<script>
		function add_weight(){
			if( $( "#weight_form" ).valid() ){
				// retrieve the text entered
				var fields = ['weight_date', 'weight', 'body_fat', 'body_water', 'bones_weight', 'muscles_weight'];
				var data = {};

				// store value in data variable
				var value;
				for(var field in fields){
					value =$("#" + fields[field] + "_input").val();
					if(value != "") {
						data[fields[field]] = value;
					}
				}

				$.post("/health/weights/add/", data, function(data) {
					if (data["success"]) {
						location.href = window.location.pathname;
					} else {
						alert("Fehler aufgetreten: " + data["msg"]);
					}
				}, "json");
			}
			return false;
		};

		$("#new_weight_page").on('pageinit', function() {
			console.debug("Add weight validation")
			$('#weight_form').validate({
					rules: {
						weight_date: {required: true, date: true},
						weight_input: {required: true, number: true}
					}
			});

		});
	</script>
	<div data-role="header"  data-theme="b">
		<a href="#health_page" data-icon="delete" iconpos="notext">Abbr.</a>
		<h1>Gewicht</h1>
		<a href="#new_weight_page" data-icon="arrow-r" data-iconpos="right" data-rel="dialog" onclick="add_weight(); return false" rel="external">Speichern</a>
	</div>

	<div data-role="content">
		<form id="weight_form">
		<div data-role="fieldcontain">
			<label for="weight_date_input">Datum</label>
			<input name="weight_date_input" type="date" id="weight_date_input" data-mini="true"/>
			<label for="weight_input">Gewicht</label>
			<input name="weight_input" type="text" id="weight_input" data-mini="true"/>
			<label for="body_fat_input">Körperfett</label>
			<input name="body_fat_input" type="text" id="body_fat_input" data-mini="true"/>
			<label for="body_water_input">Wasseranteil</label>
			<input name="body_water_input" type="text" id="body_water_input" data-mini="true"/>
			<label for="bones_weight_input">Knochengewicht</label>
			<input name="bones_weight_input" type="text" id="bones_weight_input" data-mini="true"/>
			<label for="muscles_weight_input">Muskelmasse</label>
			<input name="muscles_weight_input" type="text" id="muscles_weight_input" data-mini="true"/>
		</div>
		</form>
	</div>
</div>

<div data-role="page" id="new_pulse_page">

	<script>
		function add_pulse() {
			if( $( "#pulse_form" ).valid() ){
				var date = $("#pulse_date").val();

				var data = {
					date : date
				};

				if(! isNaN(parseInt($("#pulse_rest").val()))) {
					data["rest"] = parseInt($("#pulse_rest").val());
				}
				if(! isNaN(parseInt($("#pulse_max").val()))) {
					data["maximum"] = parseInt($("#pulse_max").val());
				}
				$.post("/health/pulses/add/", data, function(data) {
					if (data["success"]) {
						location.href = window.location.pathname;
					} else {
						alert("Fehler aufgetreten: " + data["msg"]);
					}
				}, "json");
			}
		};

		$("#new_pulse_page").on('pageinit', function() {
			console.debug("Add pulse validation")
			$('#pulse_form').validate({
				rules:{
					pulse_date: {
						required: true,
						date: true
					},
					pulse_rest: {
						required: false,
						number: true
					},
					pulse_max: {
						required: false,
						number: true
					}
				}
			});
		});

	</script>
	<div data-role="header"  data-theme="b">
		<a href="#health_page" data-icon="delete" iconpos="notext">Abbr.</a>
		<h1>Puls</h1>
		<a href="#new_pulse_page" data-icon="arrow-r" data-iconpos="right" data-rel="dialog" onclick="add_pulse(); return false" rel="external">Speichern</a>
	</div>

	<div data-role="content">
		<form id="pulse_form">
		<div data-role="fieldcontain">
			<label for="pulse_date">Datum</label>
			<input name="pulse_date" type="date" id="pulse_date" data-mini="true"/>
			<label for="pulse_rest">Ruhepuls</label>
			<input name="pulse_rest" type="text" id="pulse_rest" data-mini="true"/>
			<label for="pulse_max">Maximalpuls</label>
			<input name="pulse_max" type="text" id="pulse_max" data-mini="true"/>
		</div>
		</form>
	</div>
</div>

{% endblock %}